{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Transfer for value
{% endblock %}

{% block content %}

  <!-- application information  -->
	{% include "./includes/application-info-title-3.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register3-removing.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	<form action="01-2-preliminary-1" method="post">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Verified by automation
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="checklist" data-testid="task-checklist-container">
              <div class="checklist-header">
                <p class="govuk-body govuk-body__extra-margin">You do not need to check these details.</p>
              </div>
              <div class="checklist-container">
                <div class="checklist-items">
                  <h3 class="govuk-heading-s">Daylist</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>No prior applications</li>
                    <li>No stops</li>
                    <li>No official searches</li>
                  </ul>
                </div>
                <div class="checklist-items">
                  <h3 class="govuk-heading-s">Application</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Property matches description</li>
                    <li>All transferors match</li>
					<li>Fee paid correctly</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>

				<hr style="height:1px;border-width:0;color:gray;background-color:gray;margin-bottom:25px">
	      <h2 class="govuk-heading-m">Your tasks</h2>

<!-- Notification, if no selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
				  aria-labelledby="govuk-notification-banner-title"
				  data-module="govuk-notification-banner">
				  <div class="govuk-notification-banner__header">
				    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				      Important
				    </h2>
				  </div>
				  <div class="govuk-notification-banner__content">
				    <p class="govuk-notification-banner__heading">
				      <a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a> to complete this application.
				    </p>
				  </div>
				</div>


	    <!-- First task - yes no  -->

	      {{ govukRadios({
	        idPrefix: 'property-match3',
	        name: 'property-match3',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            html: 'Are the documents for the right property and title number?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('property-match3','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('property-match3','No')
	          }
	        ]
	      }) }}

			

	    <!-- Buttons and links -->

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half ">
			  <div class="govuk-button-group">
				{{ govukButton({
				html: 'Next',
				href: '/multi-titles/v7a/04-3-preliminary-4'
				}) }}
				<p>
				<a class="govuk-link govuk-link-aside" href="workflow-no-drafting">Return to Workflow</a></p>
			  </div>
			</div>
		  </div>
		</form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
