{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Transfer for value
{% endblock %}

{% block content %}

  <!-- application information  -->
	{% include "./includes/application-info-title-2-final.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register4.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">
		{{ govukBackLink({
			text: 'Previous',
			href: '01-2-preliminary-1'
		}) }}

    <div class="casework-tasks-container">

    	<form action="04-2-preliminary-4" method="post">

	      <h2 class="govuk-heading-m">Your tasks</h2>

<!-- Notification, if no selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
				  aria-labelledby="govuk-notification-banner-title"
				  data-module="govuk-notification-banner">
				  <div class="govuk-notification-banner__header">
				    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				      Important
				    </h2>
				  </div>
				  <div class="govuk-notification-banner__content">
				    <p class="govuk-notification-banner__heading">
				      <a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a> to complete this application.
				    </p>
				  </div>
				</div>


	   	    	<!-- tasks go here  -->

				      <!-- documents meet requirements?  -->
					  {{ govukRadios({
						idPrefix: 'docs-meet-requirements2',
						name: 'docs-meet-requirements2',
						classes: 'govuk-radios--small govuk-radios--inline',
						fieldset: {
						  legend: {
							text: 'Do included documents meet all requirements?',
							classes: 'govuk-fieldset__legend--s'
						  }
						},
						items: [
						  {
							html: 'Yes',
							value: 'Yes',
							checked: checked('docs-meet-requirements2','Yes')
						  },
						  {
							html: 'No',
							value: 'No',
							checked: checked('docs-meet-requirements2','No')
						  }
						]
					  }) }}
			
					  <!-- additional transactions?  -->
					  {{ govukRadios({
						idPrefix: 'additional-transactions2',
						name: 'additional-transactions2',
						classes: 'govuk-radios--small govuk-radios--inline',
						fieldset: {
						  legend: {
							text: 'Are there any additional transactions not covered by previous tasks?',
							classes: 'govuk-fieldset__legend--s'
						  }
						},
						items: [
						  {
							html: 'Yes',
							value: 'Yes',
							checked: checked('additional-transactions2','Yes')
						  },
						  {
							html: 'No',
							value: 'No',
							checked: checked('additional-transactions2','No')
						  }
						]
					  }) }}
			
					  <h3 class="govuk-heading-l" style="border-top:1px solid #a6a6a6; padding-top:20px">
						Correspondence
					  </h3>
				
					  <p>Send a requisition, stock letter or notice if needed.</p>
					  {{ govukInsetText({
						  text: "This is a multi-title application. Correspondence details will be entered using information from the lead title. This can be edited."
					  }) }}
				
					  <div style="border-bottom:1px solid #a6a6a6; padding-bottom:30px" onclick="myFunction()" class="js-pc-corres-window">
					<a href="">Send correspondence (opens in a new window)</a>
					  </div>
					  <br>


	    <!-- Buttons and links -->

			<div class="task-lists-submit">
				<button class="govuk-button" data-module="govuk-button">
					Next
				</button>
				<a href="workflow-no-drafting" class="govuk-link reject-button">Return to Workflow</a>
			</div>

		</form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
