{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block content %}

<style>
	.ap-secondary-button {
		background-color: #505a5f;
	}

	.ap-secondary-button:hover {
		background-color: #3c4144;
	}

	.ap-link {
		font-size: 19px;

	}
</style>

<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link" rel="noreferrer noopener"
					target="_blank">Application documents</a>

			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->



<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half register-column scroll ">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>


	<!-- Tasks section starts here -->

	<div class="govuk-grid-column-one-half column">

		<div class="casework-tasks-container">

			<form method="post">


				{{ govukBackLink({
				text: "Back",
				href: "03-address"
				}) }}

				<h2 class="govuk-heading-m" style="
				margin-top: 35px;
			">Address for service</h2>



				<!-- Notification, if no selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
					aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
					<div class="govuk-notification-banner__header">
						<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
							Important
						</h2>
					</div>
					<div class="govuk-notification-banner__content">
						<p class="govuk-notification-banner__heading">
							<a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a>
							to complete this application.
						</p>
					</div>
				</div>


				<!-- Table here-->

		</div>


		<!-- Address 1 component  -->

		<div id="address-1">

			<!-- Address 1 - select type  -->

			<div id="select-type-1">

				<div class="govuk-form-group" style="margin-bottom: 10px;">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

							<h1 class="govuk-fieldset__heading">
								Which type of address do you want to add?
							</h1>
						</legend>
						<div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="uk-postal-address" name="address" type="radio"
									value="uk-postal-address">
								<label class="govuk-label govuk-radios__label" for="address">
									UK postal address
								</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="email-address" name="address" type="radio"
									value="email">
								<label class="govuk-label govuk-radios__label" for="address-1">
									Email address
								</label>
							</div>
						</div>
					</fieldset>
				</div>

				<div class="task-lists-submit">
					<a id='add-address-button-1' role="button" draggable="false" class="govuk-button"
						style="margin-bottom: 0px;"> Next </a>


					<a href="03-address.html" class="govuk-link reject-button">Cancel adding address</a>

				</div>


			</div>


			<!-- Address 2 - enter email  -->
			<div id="enter-email-2" style="display: none">


				<div class="govuk-form-group" style="margin-top: 20px; margin-bottom: 10px;">
					<label class="govuk-label" for="email-address">
						Email address
					</label>
					<input class="govuk-input" id="email-address" name="email-address" type="text">
				</div>

				<div class="govuk-form-group" style="margin-bottom: 0px">
					<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="care-of" name="undisclosed" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="care-of">
								This is a care of address
							</label>
						</div>
					</div>
				</div>



			</div>


			<!-- Address 2 - other stuff -->

			<div id="other-stuff-2" style="display: none">



				<h3 class="govuk-heading-s" style="margin-bottom: 10px; margin-top: 10px;">Select transferees
					for this address
				</h3>

				<div class="govuk-form-group" style="margin-bottom: 0px">
					<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="name-3" name="name-3" type="checkbox"
								value="name-3">
							<label class="govuk-label govuk-checkboxes__label" for="name-3">
								Olivia West
							</label>
						</div>
					</div>
				</div>

				<div class="govuk-form-group" style="margin-bottom: 10px">
					<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="name-4" name="name-4" type="checkbox"
								value="name-4">
							<label class="govuk-label govuk-checkboxes__label" for="name-4">
								Oscar Williams
							</label>
						</div>
					</div>


				</div>


				<div class="task-lists-submit">
					<a href="../../address-proto/v4/04-address.html" id='save-address-2' role="button" draggable="false"
						class="govuk-button"> Save address </a>

					<a href="03-address.html" class="govuk-link reject-button">Cancel adding address</a>
				</div>




			</div>



		</div>




	</div>







</div>


</div>


</div>

</div>

<!-- end Tasks column -->

</div>

{% endblock %}


{% block pageScripts %}
<script>

	//ADD EMAIL ADDRESS

	// button to add another is pressed
	$('#add-address-button-1').click(function (e) {
		//component for adding EMAIL is shown
		$('#enter-email-2').show()
		//component for adding EMAIL is shown
		$('#other-stuff-2').show()
		//select type is hidden
		$('#select-type-1').hide()
	});












</script>
{% endblock %}