.ap-secondary-button {
    /*background-color: #505a5f;*/
    background-color: govuk-colour("dark-grey");
}
.ap-secondary-button:hover {
    /*background-color: #3c4144;*/
    background-color: govuk-colour("black");
}
.ap-link {
    font-size: 19px;
}

// *** new starts... ***

@include govuk-media-query($from: desktop){
    .hmlr-fieldset-right-link {

        legend {
            float: left; 
        }

        .hmlr-fieldset-right-link_target {
            display: inline-block;
            position: relative;
            right: -40%;
        }

    }
}

/* accommodate legacy prototype 'design' tbls using table 'TH' elements soley for decorative borders */
.hmlr-table--tr-bottom-borders {
    tbody tr {
        border-bottom: 1px solid $govuk-border-colour; 

        &:first-child {
            border-top: 1px solid $govuk-border-colour; 
        }

        td {
            padding-top: govuk-spacing(3);
            padding-bottom: govuk-spacing(1);
        }
    }
}

/*.hmlr-table {
    
    &.hmlr-table--last-align-right {
        thead, tfoot {
            th:last-child {
                text-align: right !important; 
                color: lime !important;
            }
        }
    }
}*/
