{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Address for service </h1>

    <h2 class="govuk-heading-m">Which design is represented?</h2>
    <p class="govuk-body">Designs in which the accepted addresses are <b>only UK postal address </b> (so the user will not be asked to select which type of address they want to add - as only one type of address is accepted) </p>



    <h2 class="govuk-heading-m">What are the transferee names in the prototype?</h2>
    <p class="govuk-body">Olivia West and Oscar Williams </p>



    <h2 class="govuk-heading-m">Addresses to be added in the prototype</h2>
    <ol class="govuk-list govuk-list--number">
    	<li>
    <p class="govuk-body">UK postal address: 15 Pevensey Rd, Eastbourne, BN21 3HR. Address for both transferees.  </p>
  </li>
  <li>
    <p class="govuk-body">UK postal address: 	127-129 Manchester Rd,
      Rossendale, Lancashire, BB4 5SL. Address only for Olivia West. </p>
  </li>
</ol>







    <h2 class="govuk-heading-m">What are the steps that the user is asked to follow in the prototype?</h2>

    <ol class="govuk-list govuk-list--number">
    	<li>
       Users starts from the transferees page. The transferee names are pre-populated by the system.
      </li>
      <li>
        They then get into a page showing an empty address table. They are so required to start populating the table by pressing on 'add address'.
       </li>
       <li>
        They'll then fill the details for address number 1 (UK postal address), and select which transferees the address belongs to by ticking the checkbox with the transferee names before pressing 'save address'.
       </li>
       <li>
        Address number 1 will so get added to the table.
       </li>
       <li>
        Users now have to enter address number 2. They do so by pressing on 'add address'.
       </li>
       <li>
        They'll then fill the details for address number 2 (which also is a UK postal address), and select which transferees the address belongs to by ticking the checkbox with the transferee names before pressing 'save address'.
       </li>
        <li>
          Address number 2 will so get added to the table.
        </li>
       <li>
       At this point the number of addresses that can be added in the prototype is reached , and the user can press next to move to the next page of the Transfer flow, having answered the 'Other than UK postal addresses is there anything else you want to add?
       ' question.
       </li>
    </ol>




    <a href="01-transferee.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>




  </div>
</div>

{% endblock %}
