{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        The user journey continues as currently ...
      </p>

      <p class="govuk-body">
        <a href="trailing-info_1-1.html" class="govuk-link govuk-link--no-visited-state">
          Return to first page of these designs
        </a>
      </p>      

    </div>
</div>

{% endblock %}
