{% extends "layouts/ap-documentation.html" %}
{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: "Application Processing",
	  serviceUrl: "/transfer-defer"
	}) }}
{% endblock %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
	text: 'Back',
	href: 'index'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Combinations 'final version' prototypes</h1>

    <p>The prototypes in this section are the 'final' or live versions of the combinations flow at each phase, recreated as accurately as we can do what has been built.<i> They are currently a work in progress as the flow is being moved over from the old prototype. </i> </p>

		<p>These prototypes may need updating regularly for tweaks and changes. Last update: 30/11/2023</p>

    <p>Scenarios:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v1a/00-worklist">A</a>
      </li>
    	<li>
        <a class="govuk-link" href="v2a/00-worklist">B</a>
      </li>
       <li>
        <a class="govuk-link" href="v3a/00-worklist">C</a>
      </li>


    </ul>


  </div>
</div>

{% endblock %}
