{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Combinations</h1>

    <p class="govuk-body">When an application contains multiple transactions, a caseworker can currently only work on one of these in Application Processing. This new feature will allow caseworkers to work on 'combinations of transactions'. The piece of work is starting with just Charge and RX1 transactions for Phase 1, Phase 2 will include Subsequent Discharge, and Phase 3 will add Transfers.</p>
    <p>A caseworker:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>will be able to process a combination of transactions in Application Processing</li>
      <li>can skip a transaction without dropping out of Application Processing</li>
      <li>have sight of what transactions are included in the application</li>
      <li>have sight of what has happened with the application before submitting</li>
    </ul>

    <p class="govuk-body">The system will:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>save drafting on completed transactions</li>
    	<li>identitfy transactions and when these can or cannot be processed in Application Processing</li>
    	<li>group transactions level tasks, as well as initial and final tasks as 'pseudo transactions'</li>
    </ul>

    <h2 class="govuk-heading-l">Phase 1 prototype</h2>

    <p class="govuk-body">After several rounds of user testing and iterations, combinations phase 1 is now live. This prototype documents the design of the combinations feature. User research, iterations and design history for this piece of work can be found in the old AP prototype kit under <a href= https://hmlr-application-processing.herokuapp.com/multi-transaction/>'multi-transactions'</a></p>


    <p>'Live' demo versions: <a href="/combinations/combos-index">Link to prototype flow</a></p>
    <p>Design versions:</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v1b/00-worklist">Phase 1 - Charge and RX1</a><br>
        Phase 1 of combinations was a Charge and any number of RX1's (entering a restriction onto the register). This phase is where we figured out the foundations of the combinations flow including: the 'initial tasks' and 'final tasks' pseudo-transactions, to de-duplicate those application level questions; the summary page design and determining when that appears; the status labels ('Drafted', 'Not drafted', and 'Draft in CORA' which should cover almost all transactions status); and the ability to save drafting and move past a transaction to continue with the rest of an application.
      </li>
    	<li>
        <a class="govuk-link" href="v2a/00-worklist">Phase 2 - Subsequent Discharge</a><br>
        In phase 2, we added a subsequent discharge. This type of transactions could be either manual or automated. For the designs we added: having the register entry 'removing' tag across transactions, the ABR changing for the manual discharge, and the use of the 'Drafted' status for an automated transaction.
      </li>
      <li>
        <a class="govuk-link" href="v3a/00-worklist">Phase 3 - Transfer</a><br>
        In Phase 3 we will stress test the combinations journey with longer and more complicated transactions. This will primarily revolve around including a transfer along with other types of transactions in the application.
      </li>

    </ul>


  </div>
</div>

{% endblock %}
