{% extends "layouts/ap-documentation.html" %}
{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: "Application Processing",
	  serviceUrl: "/transfer-defer"
	}) }}
{% endblock %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
	text: 'Back',
	href: 'index'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Scenarios for user research</h1>

    <p>These prototypes are for user research purposes. The scenarios are looking at subsequent discharges in combinations.</p>


    <p>Scenarios:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v2b/00-worklist">A</a>
      </li>
    	<li>
        <a class="govuk-link" href="v2c/00-worklist">B</a>
      </li>
       <li>
        <a class="govuk-link" href="v2d/00-worklist">C</a>
      </li>


    </ul>


  </div>
</div>

{% endblock %}
