{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Initial tasks
{% endblock %}

{% block content %}

  <!-- application information  -->
	<div class="govuk-grid-row ap-no-row-l-r-margin">
		<div id="application-info-container">
			<div class="govuk-grid-column-one-quarter ap-no-column-l-r-padding">
	  		<h1 class="govuk-heading-m application-type">Initial tasks</h1>
		  </div>

			<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
				<span class="govuk-body">Title number: </span><span class="title-number govuk-body">DN5028YT</span>
			</div>

			<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
	  		<span class="govuk-body">ABR number: </span><span class="abr govuk-body">A155OYX</span>
			</div>

		  <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
		  	<p id="documents-launcher">
		      <a href="_document-viewer" class="govuk-link document-link js-documents-window" target="_blank">Open all documents</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register2.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">
		{{ govukBackLink({
			text: 'Previous',
			href: '01-2-preliminary'
		}) }}

    <div class="casework-tasks-container">

    	<form action="02-2-preliminary-2" method="post">

	      <h2 class="govuk-heading-m">Your tasks</h2>

<!-- Notification, if no selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
				  aria-labelledby="govuk-notification-banner-title"
				  data-module="govuk-notification-banner">
				  <div class="govuk-notification-banner__header">
				    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				      Important
				    </h2>
				  </div>
				  <div class="govuk-notification-banner__content">
				    <p class="govuk-notification-banner__heading">
				      <a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a> to complete this application.
				    </p>
				  </div>
				</div>


	    <!-- tasks -->

			{{ govukRadios({
				idPrefix: 'execution-discrepancies',
				name: 'execution-discrepancies',
				classes: 'govuk-radios--small govuk-radios--inline',
				fieldset: {
					legend: {
						html: 'Are included documents executed correctly?',
						classes: 'govuk-fieldset__legend--s'
					}
				},
				items: [
					{
						html: 'Yes',
						value: 'Yes',
						checked: checked('execution-discrepancies','Yes')
					},
					{
						html: 'No',
						value: 'No',
						checked: checked('execution-discrepancies','No')
					}
				]
			}) }}



	    <!-- Buttons and links -->

			<div class="task-lists-submit">
				<button class="govuk-button" data-module="govuk-button">
					Save and continue
				</button>
				<a href="workflow-no-drafting" class="govuk-link reject-button">Return to Workflow</a>
			</div>

		</form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
