{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Charge
{% endblock %}

{% block content %}

<!-- application information  -->
<div class="govuk-grid-row ap-no-row-l-r-margin">
  <div id="application-info-container">
    <div class="govuk-grid-column-one-quarter ap-no-column-l-r-padding">
      <h1 class="govuk-heading-m application-type">Charge</h1>
    </div>

    <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
      <span class="govuk-body">Title number: </span><span class="title-number govuk-body">DN1432OU</span>
    </div>

    <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
      <span class="govuk-body">ABR number: </span><span class="abr govuk-body">A245UYX</span>
    </div>

    <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
      <p id="documents-launcher">
        <a href="_document-viewer" class="govuk-link document-link js-documents-window" target="_blank">Open all documents</a>
      </p>
    </div>
  </div>
</div>
<!-- end - application information  -->

<style>
  .govuk-button--secondary1{
      background-color:#6F777B;
      -webkit-box-shadow:0 2px 0 #929191;
      box-shadow:0 2px 0 #929191;
      color: #ffffff
  }
  .govuk-button--secondary,.govuk-button--secondary1:active,.govuk-button--secondary1:hover,.govuk-button--secondary1:link,.govuk-button--secondary1:visited{
      color:#0b0c0c
  }
  .govuk-button--secondary1:hover{
      background-color:#dbdad9
  }
  .govuk-button--secondary:hover[disabled]{
      background-color:#f3f2f1
  }

  </style>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register3.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">
      {{ govukBackLink({
        text: 'Previous',
        href: '03-3-charge-page-1'
      }) }}

    	<form action="04-3-charge-page-2" method="post">

	      <h2 class="govuk-heading-m">Your tasks</h2>

	      <!-- Notification, if charge does not have an MD Ref selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
				  aria-labelledby="govuk-notification-banner-title"
				  data-module="govuk-notification-banner">
				  <div class="govuk-notification-banner__header">
				    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				      Important
				    </h2>
				  </div>
				  <div class="govuk-notification-banner__content">
				    <p class="govuk-notification-banner__heading">
				      <a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a> to complete this application.
				    </p>
				  </div>
				</div>

	    	<!-- tasks go here  -->

	    	<h3 class="govuk-heading-m" style="margin-bottom:0px">Charge details</h3>

				<table class="govuk-table form-table" style="margin-bottom:4px;">

				  <thead class="govuk-table__head">
				    <tr class="govuk-table__row">
				      <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
				      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds"></th>
				    </tr>
				  </thead>

				  <tbody class="govuk-table__body">
				    <tr class="govuk-table__row">
				      <th scope="row" class="govuk-table__header">MD reference</th>
				      <td class="govuk-table__cell">
				        <div id="regular-md"> MD53TTR <a href="#" id="change-button" style="float:right;" class="govuk-link">
				            Change </a>
				        </div>


				        <div id="editing-md" style="display: none">

				          {{
				          govukInput({

				          name: 'md-ref',
				          id: 'md-ref-field',
				          classes: 'govuk-input--width-5',
				          formGroup: {
				          classes: 'govuk-!-margin-bottom-1'
				          },
				          prefix: {
				          text: "MD"
				          },
				          value: '895712',
				          spellcheck: false

				          }) }}

				          <div style="display:flex">
				            <a href="03-add-charge-entry-2.html" id="save-md-ref-button" role="button" draggable="false"
				              class="govuk-button govuk-button--secondary" style="
				            margin-bottom: 8px; margin-top: 4px;"> Save changes </a>

				            <a id="save-md-ref-button" role="button" draggable="false" class="govuk-link"
				              style="margin-top: 11px; margin-left:15px;"> Cancel changes </a>
				          </div>
				        </div>

				      </td>

				    </tr>

				    <tr id="chargee-name" class="govuk-table__row">
				      <th scope="row" class="govuk-table__header">Lender name</th>
				      <td class="govuk-table__cell">Bank of England</td>
				    </tr>


				  </tbody>
				</table>





<div id="checkbox-md">

  {{ govukCheckboxes({
  name: 'undisclosed',
  classes: 'govuk-checkboxes--small',
  items: [
  {
  id: 'checkbox-md',
  html: 'Charge does not have an MD reference',
  value: 'No-MDRef',
  checked: checked('undisclosed','No-MDRef')
  }
  ]
  }) }}

</div>

<div id="register-entries"
<h3 class="govuk-heading-m" style="margin-bottom:0px">Register entries</h3>
<table class="govuk-table form-table" style="margin-bottom:4px;">

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__header">
            <p class='govuk-body govuk-!-font-weight-bold' style=" margin-bottom: 4px"> Charge entry CD999 </p>
            <br>
            <p class='register-preview' style="margin-bottom: 10px">
              REGISTERED CHARGE dated <b>27/05/2024</b> affecting also other titles.<br><br>
              NOTE: Charge reference <b>DN1029KU</b>
            </p>
          </div>

          </th>

        </tr>

     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">

        <p class='govuk-body govuk-!-font-weight-bold' style=" margin-bottom: 0px" > Lender entry CY471 </p>
        <br>
        <p class='register-preview-no-margin'> #BANK OF ENGLAND# (Co. Regn. No. RC000042) of Threadneedle Street, London, EC2R 8AH.</p>

      </th>


   </tr>

   </tbody>




  </table>

  </div>



	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->

        <div class="task-lists-submit">
					<button class="govuk-button" data-module="govuk-button">
						Save and continue
					</button>
					<a href="#" class="govuk-link reject-button">Cancel processing this transaction</a>
				</div>

			</form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}

{% block pageScripts %}
<script>

  $('#change-button').click(function () {
    $('#regular-md').hide();
    $('#change-button').hide();
    $('#chargee-name').hide();
    $('#register-entries').hide();
    $('#checkbox-md').hide();
    $('#chargee-name').hide();
    $('#special-instructions').hide();
    $('#editing-md').show();
   // $('#md-ref-field').focus();
    var val = $('#md-ref-field').val(); //store the value of the element
		$('#md-ref-field').val(''); //clear the value of the element
		$('#md-ref-field').val(val); //set that value back.

  });



	$('#checkbox-md input:checkbox').change(function () {
	  if ($(this).prop("checked") == true) {
    	$("#warning").show();
      $('.govuk-button').text('Send to Workflow');
	  } else {
    	$("#warning").hide();
      $('.govuk-button').text('Next');
  	}

  });


</script>

{% endblock %}
