{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Final tasks
{% endblock %}

{% block content %}

<!-- application information  -->
<div class="govuk-grid-row ap-no-row-l-r-margin">
  <div id="application-info-container">
    <div class="govuk-grid-column-one-quarter ap-no-column-l-r-padding">
      <h1 class="govuk-heading-m application-type">Final tasks</h1>
    </div>

    <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
      <span class="govuk-body">Title number: </span><span class="title-number govuk-body">DN7708TU</span>
    </div>

    <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
      <span class="govuk-body">ABR number: </span><span class="abr govuk-body">A299UYX</span>
    </div>

    <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
      <p id="documents-launcher">
        <a href="_document-viewer" class="govuk-link document-link js-documents-window" target="_blank">Open all documents</a>
      </p>
    </div>
  </div>
</div>
<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register4.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	{{ govukBackLink({
	      text: 'Previous',
	      href: '05-3-final-tasks-page-1'
	    }) }}

    	<form action="06-3-final-tasks-page-1" method="post">

	      <h2 class="govuk-heading-m">Your tasks</h2>


	    	<!-- tasks go here  -->

	    	 <h3 class="govuk-heading-s">Application documents</h3>
        <table class="govuk-table form-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 25%">Name</th>
              <th scope="col" class="govuk-table__header" style="width: 25%">Category</th>
              <th scope="col" class="govuk-table__header" style="width: 25%">Date</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 25%">Discard Document</th>
            </tr>
          </thead>

          {% set docTypes = [] %}

          {% for i in data['doc-types'] %}
            {% set docTypes = (docTypes.push({value: i, text: i}), docTypes) %}
          {% endfor %}
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="js-text / govuk-table__cell">
                <span style="display: block;"><b>1. eAP1</b></span>
              </td>

              <td class="js-text / govuk-table__cell">
                <span style="display: block;">Application form</span>
              </td>
              <td class="js-date-text / govuk-table__cell">
                <span style="display: block;">04 June 2024</span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <div class="govuk-form-group" style="margin-left: 10px">
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="js-remove / govuk-checkboxes__input" name="remove-1" type="checkbox">
                      <label class="govuk-checkboxes__label">
                        <span>Discard</span></label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="js-text / govuk-table__cell">
                <span style="display: block;"><b>2. Charge</b></span>
              </td>

              <td class="js-text / govuk-table__cell">
                <span style="display: block;">Charge</span>
              </td>
              <td class="js-date-text / govuk-table__cell">
                <span style="display: block;">27 May 2024</span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <div class="govuk-form-group" style="margin-left: 10px">
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="js-remove / govuk-checkboxes__input" name="remove-1" type="checkbox">
                      <label class="govuk-checkboxes__label">
                        <span>Discard</span></label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>




          </tbody>
        </table>
        <div style="margin-bottom: 30px">
        <a href= class="govuk-link reject-button">Change document category</a>
        </div>
      </div>


      <h3 class="govuk-heading-l" style="border-top:1px solid #a6a6a6; padding-top:20px">
        Correspondence
      </h3>

      <p>Send a requisition, stock letter or notice if needed.</p>

      <div style="border-bottom:1px solid #a6a6a6; padding-bottom:30px" onclick="myFunction()" class="js-pc-corres-window">
    <a href="">Send correspondence (opens in a new window)</a>
      </div>
      <br>



	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->

				<div class="task-lists-submit">
			    <button class="govuk-button" data-module="govuk-button">
			      Continue
			    </button>
          
	 			</div>

		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}

{% block pageScripts %}
<script>
  $('.js-hidden').hide();
  // $('#doc1-name').val('Application Form')
  $('#doc2-name').val('Transfer')
  $('#doc3-name').val('Charge')
  $('#doc4-name').val('Evidence')
  $('#doc5-name').val('Stamp Duty Land Tax')

  $('.govuk-select').change(function () {
    if (($(this).val() == 'Application Form') || ($(this).val() == 'Transfer') || ($(this).val() == 'Document List') || ($(this).val() == 'Land Transaction Tax') || ($(this).val() == 'Stamp Duty Land Tax') || ($(this).val() == 'Identity') || ($(this).val() == 'RQ') || ($(this).val() == 'Indemnity') || ($(this).val() == 'Complaint Record') || ($(this).val() == 'E383') || ($(this).val() == 'Fee Adjustment') || ($(this).val() == 'Mast Title Record') || ($(this).val() == 'Miscellaneous') || ($(this).val() == 'Investigation of Crime')) {
      $(this).parents('tr').find('.js-date-input').hide()
      $(this).parents('tr').find('.js-date-text').show()
    } else {
      $(this).parents('tr').find('.js-date-input').show()
      $(this).parents('tr').find('.js-date-text').hide()
    }
  });

  $('.js-incomplete').find('.govuk-checkboxes__input').change(function () {
    $(this).parents('tr').find('.js-incomplete-toggle').toggle()
  });

  $('.js-remove').change(function () {
    if ($(this).is(':checked')) {
      $(this).parents('tr').find('input').prop('disabled', true)
      $(this).parents('tr').find('select').prop('disabled', true)
      $(this).prop('disabled', false)
    } else {
      $(this).parents('tr').find('input').prop('disabled', false)
      $(this).parents('tr').find('select').prop('disabled', false)
      $(this).prop('disabled', false)
    }
  });
</script>
{% endblock %}
