{% extends "layouts/ap-flow-regular.html" %}

{% block pageTitle %}
Sent to Workflow, undrafted
{% endblock %}


{% block content %}


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
    	<div class="govuk-panel govuk-panel--confirmation govuk-panel--confirmation--partial">
        <h1 class="govuk-panel__title">
          Application {{ abrNumber | d('A312XYZ') }} sent to Workflow
        </h1>
        <div class="govuk-panel__body">
          Not drafted
        </div>
      </div>

      <p class="govuk-body govuk-!-margin-top-6">
        <a href="/multi-titles/index" class="govuk-link">Go to Workflow</a> to complete the application or start a new one.
      </p>
    </div>
  </div>

{% endblock %}
