{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
 {{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber | d('DN1000') }}. 

 Select charge entry
{% endblock %}

{% block content %}


	<!-- application information  -->
	{% include "./includes/application-info.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	<form method="post">


	      <h2 class="govuk-heading-l">Tasks</h2>


				<h3 class="govuk-heading-m">Address for service</h3>



				<!-- Notification, if no selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
					aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
					<div class="govuk-notification-banner__header">
						<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
							Important
						</h2>
					</div>
					<div class="govuk-notification-banner__content">
						<p class="govuk-notification-banner__heading">
							<a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a>
							to complete this application.
						</p>
					</div>
				</div>



				<!-- Address 1 component  -->

				<div id="address-1">

					<!-- Address 1 - select postcode  -->

					<div id="select-postcode-1">

						<h3 class="govuk-heading-s" style="margin-bottom: 10px;">Address 1

							<div class="govuk-form-group" style="	margin-bottom: 10px; margin-top: 10px;">
								<label class="govuk-label" for="address-postcode">
									Postcode
								</label>
								<input class="govuk-input govuk-input--width-10" id="address-postcode"
									name="address-postcode" type="text" autocomplete="postal-code" value="BA22 2QC">
							</div>


							<a id='find-address-button-1' role="button" draggable="false"
								class="govuk-button ap-secondary-button" style="margin-bottom: 10px;"> Find address </a>

					</div>


					<!-- Address 1 - select address from list  -->
					<div id="select-address-1" style="display: none">

						<h3 class="govuk-heading-s" style="margin-bottom: 10px;">Address 1

							<div class="govuk-form-group" style="	margin-bottom: 10px; margin-top: 10px;">
								<label class="govuk-label" for="sort">
									Address
								</label>
								<select class="govuk-select" id="sort" name="sort">

									<option value="published">245 Aspen Rowans, Swasils, Dorset BA22 2QC</option>
									<option value="views">246 Aspen Rowans, Swasils, Dorset BA22 2QC</option>
									<option value="comments">247 Aspen Rowans, Swasils, Dorset BA22 2QC</option>
								</select>
							</div>

							<a href="#" class="govuk-link" style="margin-bottom: 10px"> Clear search</a>


					</div>


					<!-- Address 1 - other stuff -->

					<div id="other-stuff-1">
						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="cannot-find" name="undisclosed"
										type="checkbox">
									<label class="govuk-label govuk-checkboxes__label" for="cannot-find">
										I cannot find the address on the list
									</label>
								</div>
							</div>
						</div>

						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="care-of" name="undisclosed"
										type="checkbox">
									<label class="govuk-label govuk-checkboxes__label" for="care-of">
										This is a care of address
									</label>
								</div>
							</div>
						</div>

						<h3 class="govuk-heading-s" style="margin-bottom: 10px; margin-top: 10px;">Select transferees
							for this address
						</h3>

						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="name-1" name="name-1" type="checkbox"
										value="name-1">
									<label class="govuk-label govuk-checkboxes__label" for="name-1">
										Fletcher Kobi Mooney
									</label>
								</div>
							</div>
						</div>

						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="name-2" name="name-2" type="checkbox"
										value="name-2">
									<label class="govuk-label govuk-checkboxes__label" for="name-2">
										Ruari Adaline Mooney
									</label>
								</div>
							</div>


						</div>




				<div class="task-lists-submit">
			    <button class="govuk-button" data-module="govuk-button">
			      Next
			    </button>
			    <a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
	 			</div>

		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}


{% block pageScripts %}
<script>

	// button to search the address linked to the postcode entered is pressed
	$('#find-address-button-1').click(function (e) {
		// enter postcode section gets hidden
		$('#select-postcode-1').hide();
		// select address from the list section is shown
		$('#select-address-1').show();
		// other stuff section is shown
		$('#other-stuff-1').show()
	});


</script>

{% endblock %}