<div id="BX921">

  <div id="cre-text-editing" class="js-new-reg-item">
    <p class='register-preview' style="
    margin-bottom: 10px;
">
      No disposition of the registered estate by the proprietor of the registered estate is to be registered without a
      written consent signed by the proprietor for the time being of the Charge dated <b> 11 April 2019 </b> in favor of <span class="highlight"
        id="infill-text-3">[Infill 2]</span> referred to in the Charges Register.
    </p>
  </div>

  <div id='cre-buttons-restriction' style="display:none; max-width: 38em;">
    <a href="#" id="cre-button-edit" style="
    padding-right: 8px;
"  class="govuk-link"> Edit </a>

    <a href="" id="cre-button-remove" class="govuk-link" style=" color:	#d4351c;"> Remove </a>
  </div>


  <div id="cre-edit-form-restriction">

    <h3 class="govuk-fieldset__legend--s">Complete the infills for BX102</h3>


    <form method="get">



      {{ govukInput({
      id: 'field-3',
      name: 'field-3',
      classes: 'js-register-infill govuk-!-margin-bottom-2',
      attributes: {
      'data-infill': '3'
      },
      value: data['field-3'],
      label: {
      html: 'Infill 2'
      }
      }) }}

      {{ govukCheckboxes({
        name: 'undisclosed',
        classes: 'govuk-checkboxes--small',
        items: [
          {
            id: 'js-undisclosed-2',
            html: 'Some infills cannot be completed',
            value: 'Undisclosed',
            checked: checked('undiscolused','Undisclosed')
          }
        ]
      }) }}

    </form>

    <a href="#" id='cre-button-save-restriction' role="button" draggable="false"
      class="govuk-button save-entry-button" onclick="return false"
      style="  margin-bottom: 12px;  margin-top: 16px;"> Save entry </a>


  </div>
</div>
