{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
 {{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber | d('DN1000') }}. 

 Select charge entry
{% endblock %}

{% block content %}

<style>
  #cre-button-save {
    margin-top: 15px;
  }

  #cre-button-save-2 {
    margin-top: 15px;
  }

  .edited-text-bold {
    font-weight: 600;
  }
</style>

	<!-- application information  -->

	<div class="govuk-grid-row ap-no-row-l-r-margin">
		<div id="application-info-container">
			<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
	  		<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

	  				<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
	  				<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000') }}</span>

		  </div>

		  <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
		  	<p id="documents-launcher">
		      <a href="_document-viewer" class="govuk-link document-link js-documents-window" target="_blank">Application documents</a>
				</p>
			</div>
		</div>
	</div>

	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	<form method="post">

<!-- ************************** -->
<!-- theres some code in this page that stops the form being posted, when the button is clicked -->
<!-- if you put the button code and the closing form tag here it works! -->
<!-- ************************** -->

	      <h2 class="govuk-heading-l">Tasks</h2>


	    	<!-- MD REFERENCE - EDIT -->

      <h3 class="govuk-heading-s" style="margin-bottom:0px">
        Charge details
      </h3>

      <table class="govuk-table form-table" style="width:50%; margin-bottom:4px;">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">MD Reference</th>
            <td class="govuk-table__cell">
              <div id="regular-md"> MD895472 <a href="#" id="change-button" style="float:right;" class="govuk-link">
                  Change </a>
              </div>


              <div id="editing-md" style="display: none">

                {{
                govukInput({

                name: 'md-ref',
                classes: 'govuk-input--width-5',
                formGroup: {
                classes: 'govuk-!-margin-bottom-1'
                },
                prefix: {
                text: "MD"
                },
                value: '',
                spellcheck: false

                }) }}

                <div style="display:flex">
                  <a href="" id="save-md-ref-button" role="button" draggable="false"
                    class="govuk-button govuk-button--secondary" style="
            margin-bottom: 8px; margin-top: 4px;"> Save changes </a>

                  <a id="save-md-ref-button" role="button" draggable="false" class="govuk-link"
                    style="margin-top: 11px; margin-left:15px;"> Cancel changes </a>
                </div>
              </div>

            </td>

          </tr>

          <tr id="chargee-name" class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lender name</th>
            <td class="govuk-table__cell">Not found</td>
          </tr>



        </tbody>
      </table>






      <div id="checkbox-md">

        {{ govukCheckboxes({
        name: 'undisclosed',
        classes: 'govuk-checkboxes--small',
        items: [
        {
        id: 'checkbox-md',
        html: 'Charge does not have an MD reference',
        value: 'No',
        checked: checked('undisclosed','No')
        }
        ]
        }) }}

      </div>

      <!-- NOTES AND WARNINGS QUESTION -->


      {{ govukRadios({
      idPrefix: 'note-proceed',
      name: 'note-proceed',
      classes: ' govuk-radios--small govuk-radios--inline',
      fieldset: {
      legend: {
      html: 'There is a note associated with the mortgage document. Can the charge be added?',
      classes: 'govuk-fieldset__legend--s'
      }
      },
      hint: {
      html: 'To check the note go to CAVE'
      },
      items: [
      {
      html: 'Yes',
      value: 'Yes'
      },
      {
      html: 'No',
      value: 'No',
      checked: checked('note-proceed','No')
      }
      ]
      }) }}



      <h3 class="govuk-heading-s" style="margin-bottom:0px">
        Register entries
      </h3>

      <!-- Table starts here-->

      <table class="govuk-table " style="
      margin-bottom: 20px;
  ">


        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>



        <tbody class="govuk-table__body">


          <!-- CHARGE ENTRY CD100-->

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <p class='govuk-body govuk-!-font-weight-bold' style=" margin-bottom: 4px"> Charge entry CD100</p>
              <p class='register-preview-no-margin'> REGISTERED CHARGE dated 11/04/2019.</p>
            </th>
          </tr>


          <!-- LENDER ENTRY  -->

          <tr class="govuk-table__row" style="display: none" id="lender-entry">
            <th scope="row" class="govuk-table__header">
              <p class='govuk-body govuk-!-font-weight-bold' style=" margin-bottom: 4px"> Lender entry CW726 </p>
              {% include "./_CW726.html" %}
            </th>
          </tr>

          <!-- RESTRICTION ENTRY  -->

          <tr class="govuk-table__row" style="display: none" id="restriction-entry">
            <th scope="row" class="govuk-table__header">
              <p class='govuk-body govuk-!-font-weight-bold' style=" margin-bottom: 4px"> Restriction entry BX102 </p>
              {% include "./_BX102.html" %}
            </th>
          </tr>

        </tbody>
      </table>

      <!-- Table ends here-->





      <!-- COMPONENT FOR ADDING A NEW ENTRY-->

      <div id="add-entry-block">

        <div class="govuk-form-group" style=" margin-bottom: 10px">


          <label class="govuk-heading-s" for="width-5">
            Add an entry
          </label>

          <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
        </div>

        <a id="add-entry-button-lender" role="button" draggable="false" class="govuk-button govuk-button--secondary"
          > Add entry</a>


        <a id="add-entry-button-restriction" role="button" style="display: none" draggable="false"
          class="govuk-button govuk-button--secondary" > Add entry  </a>

        <div>
          <a class="govuk-link" style="margin-top: 10px;" id="create-lender-entry-button-1" onclick="return false" href="#">Create a new lender
            entry</a>
        </div>

      </div>
    </div>

    <hr id="divider-line" class="govuk-section-break govuk-section-break--l govuk-section-break--visible " style="
    margin-top: 10px;
    margin-bottom: 20px;
">
	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->


<!-- ************************** -->
<!-- theres some code in this page that stops the form being posted, when the button is clicked -->
<!-- if you put the button code and the </form> tag up by the <form> tag it works! -->
<!-- ************************** -->

				<div class="task-lists-submit">
			    <button class="govuk-button" data-module="govuk-button">
			      Next
			    </button>
			    <a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
	 			</div>

		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}


{% block pageScripts %}

<script>

  // ENTER A NEW LENDER ENTRY

  //when the button to add a new lender entry is pressed for the first time
  $('#add-entry-button-lender').click(function (e) {
    //then show the lender entry
    $('#lender-entry').show();
    //and hide the generic component for adding a new entry
    $('#add-entry-block').hide();
    //and hide the divider line
    $('#divider-line').hide();
    //and reset the text field
    $('#width-5').val('');
    //and focus the infill
    $('#field-1').focus();
  });

  // when the button to save the lender entry code is pressed
  $('#cre-button-save-lender').click(function () {
    //then hide the infills for the lender
    $('#cre-edit-form-lender').hide();
    //and turn the infill text in bold
    $('#infill-text-1, #infill-text-2').removeClass('highlight').addClass('edited-text-bold')
    //and show the generic component for adding a new  entry
    $('#add-entry-block').show();
    //and show the divider line
    $('#divider-line').show();
    //and show the button to add a restriction entry
    $('#add-entry-button-restriction').show();
    //and hide the button to add a lender entry
    $('#add-entry-button-lender').hide()
  });

  // and also reveal the edit button after save
  $('#cre-button-save-lender').click(function () {
    $('#cre-buttons-lender').show();
  });


  //ENTER A NEW RESTRICTION ENTRY

  //when the button to add a new restriction entry is pressed for the first time
  $('#add-entry-button-restriction').click(function (e) {
    //then show the restriction entry
    $('#restriction-entry').show();
    //and hide the generic component for adding a new entry
    $('#add-entry-block').hide();
    //and hide the divider line
    $('#divider-line').hide();
    //and reset the text field
    $('#width-5').val('');
    //and focus the infill
    $('#field-3').focus();
  });


  // when the button to save the restriction entry code is pressed
  $('#cre-button-save-restriction').click(function () {
    //then hide the infills
    $('#cre-edit-form-restriction').hide();
    //and turn the infill text in bold
    $('#infill-text-3').removeClass('highlight').addClass('edited-text-bold')
    //and show the divider line
    $('#divider-line').show();
    //and show again the generic  component for adding a new entry and one on the two buttons
    $('#add-entry-block').show();
    $('#add-entry-button-2').show();
    $('#add-entry-button-1').hide()
  });


  // and also reveal the edit button after save
  $('#cre-button-save-restriction').click(function () {
    $('#cre-buttons-restriction').show();
  });



  // Infill section needs to:
  // Update Freeform entries in real time
  // Revert to infill text if free form box empty
  // Remove highlight and infill box after clicking save and continue
  // Reveal edit button after clicking save and continue
  // Return to edit options after clicking edit


  //Andy's code - free format infill 1
  function updateFFInfill() {
    const infill = document.getElementById('infill-text-1');
    var textareaText = $('#field-1').val();

    if (textareaText.trim() == '') {
      textareaText = '[Infill 1]';
    }

    infill.textContent = textareaText;

  }

  // ****************
  // free format textarea - listener
  // ****************
  $('#field-1').on('change keyup keydown', function (e) {

    updateFFInfill();

  });

  //Andy's code - free format infill 2
  function updateFFInfill2() {

    const infill = document.getElementById('infill-text-2');

    var textareaText = $('#field-2').val();

    if (textareaText.trim() == '') {
      textareaText = '[Infill 2]';
    }

    infill.textContent = textareaText;

  }

  // ****************
  // free format textarea - listener
  // ****************
  $('#field-2').on('change keyup keydown', function (e) {

    updateFFInfill2();

  });



  //Andy's code - free format infill 3
  function updateFFInfill3() {

    const infill = document.getElementById('infill-text-3');

    var textareaText = $('#field-3').val();

    if (textareaText.trim() == '') {
      textareaText = '[Infill 2]';
    }

    infill.textContent = textareaText;

  }

  // ****************
  // free format textarea - listener
  // ****************
  $('#field-3').on('change keyup keydown', function (e) {

    updateFFInfill3();

  });


</script>

{% endblock %}