{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
 {{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber | d('DN1000') }}. 

 Daylist checks
{% endblock %}

{% block content %}

	<!-- application information  -->
	{% include "./includes/application-info.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	<form method="post">

	      <h2 class="govuk-heading-l">Tasks</h2>

	    	<!-- tasks go here  -->

	    	<!-- Daylist searches table  -->
	    	{{ govukTable({
	        caption: 'Searches on Daylist',
	        classes: '',
	        head: [
	          {
	            text: 'Priority date'
	          },
	          {
	            text: 'Applicant name'
	          },
	          {
	            text: 'Type'
	          }
	        ],
	        rows: [
	          [
	            {
	              text: '22 September 2019'
	            },
	            {
	              text: 'Bank of England'
	            },
	            {
	              text: 'Charge'
	            }
	          ],
	          [
	            {
	              text: '20 September 2019'
	            },
	            {
	              text: 'Bank of England'
	            },
	            {
	              text: 'Lease'
	            }
	          ]
	        ]
	      }) }}

	      <!-- search protect application?  -->
	      {{ govukRadios({
	        idPrefix: 'search-protection',
	        name: 'search-protection',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Does the search with priority protect the application?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('search-protection','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('search-protection','No')
	          }
	        ]
	      }) }}

	      <!-- stops require action?  -->
	      {{ govukRadios({
	        idPrefix: 'stops-action',
	        name: 'stops-action',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Do stops require any further action?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        hint: {
	          text: 'To check stops go to Daylist'
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('stops-action','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('stops-action','No')
	          }
	        ]
	      }) }}

	      
	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->

				<div class="task-lists-submit">
			    <button class="govuk-button" data-module="govuk-button">
			      Next
			    </button>
			    <a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
	 			</div>

		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}