{% extends "layouts/ap-flow-wide.html" %}

{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: "Application Processing",
	  serviceUrl: "/transfer-defer/r3-index"
	}) }}
{% endblock %}

{% block pageTitle %}
 {{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber | d('DN1000') }}.

 Daylist checks
{% endblock %}

{% block content %}

<style>

.govuk-button--secondary {
	background-color: #6F777B;
	color:white;
}

</style>

	<!-- application information  -->
	{% include "./includes/application-info.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	{{ govukBackLink({
	      text: 'Back',
	      href: '06-discharge'
	    }) }}

    	<form method="post">

	      <h2 class="govuk-heading-l">Tasks</h2>

	    	<!-- tasks go here  -->

	    	<!-- Daylist searches table  -->
	    	{{ govukTable({
	        caption: 'Searches on Daylist',
	        classes: '',
	        head: [
	          {
	            text: 'Priority date'
	          },
	          {
	            text: 'Applicant name'
	          },
	          {
	            text: 'Type'
	          }
	        ],
	        rows: [
	          [
	            {
	              text: '12 June 2023'
	            },
	            {
	              text: 'Bank of England'
	            },
	            {
	              text: 'Purchase'
	            }
	          ]
	        ]
	      }) }}

	      <!-- search protect application?  -->
	      {{ govukRadios({
	        idPrefix: 'search-protection',
	        name: 'search-protection',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Does the search with priority protect the application?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('search-protection','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('search-protection','No')
	          }
	        ]
	      }) }}

	      <!-- stops require action?  -->
        {{ govukRadios({
	        idPrefix: 'stops-action',
	        name: 'stops-action',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Do stops require any further action?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        hint: {
	          text: 'To check stops go to Daylist'
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('stops-action','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('stops-action','No')
	          }
	        ]
	      }) }}

	      <!-- documents meet requirements?  -->
	      {{ govukRadios({
	        idPrefix: 'docs-meet-requirements',
	        name: 'docs-meet-requirements',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Do included documents meet all requirements?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('docs-meet-requirements','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('docs-meet-requirements','No')
	          }
	        ]
	      }) }}

	      <!-- additional transactions?  -->
	      {{ govukRadios({
	        idPrefix: 'additional-transactions',
	        name: 'additional-transactions',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Are there any additional transactions apart from the discharge?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('additional-transactions','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('additional-transactions','No')
	          }
	        ]
	      }) }}


	    	<!-- end of tasks  -->


	      <h2 class="govuk-heading-l">Correspondence</h2>

				<p>Send a requisition, stock letter or notice if needed.</p>

	      <div class="govuk-!-margin-top-6">
		      <button type="button" onclick="myFunction()" class="govuk-button govuk-button--secondary js-pc-corres-window" data-module="govuk-button">
					  Send correspondence
					</button>
				</div>


	    	<!-- Buttons and links -->

				<div class="task-lists-submit">
			    <button class="govuk-button" data-module="govuk-button">
						Submit
			    </button>
			    <a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
	 			</div>

		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
