{% extends "layouts/ap-flow-regular.html" %}

{% block pageTitle %}
 Sent to Workflow, partially drafted
{% endblock %}

{% block content %}


  <div class="govuk-grid-row govuk-body govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application A123456 deferred",
        html: "Sent to Workflow",
        classes: "govuk-panel--confirmation--partial"
      }) }}

      <!-- <h2 class="govuk-heading-m">What's next</h2> -->

      <p class="govuk-body govuk-!-margin-top-6">
        <a href="/complete/confirmation-pages" class="govuk-link">Go to Workflow</a> to start a new application.
      </p>
    </div>
  </div>

{% endblock %}
