{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Application Processing - confirmation messages
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Confirmation pages</h2>


    <ul class="govuk-list govuk-list--bullet">

      <li>
        <a class="govuk-link" href="success">Submitted: successfully sent to mark off</a>
        <p>Fully drafted, no further actions
      </li>

      <li>
        <a class="govuk-link" href="workflow">Submitted: sending to Workflow to complete</a>
        <p>PAS notes exist, some drafting done</p>
      </li>

      <li>
        <a class="govuk-link" href="workflow-no-drafting">Sent to Workflow - undrafted</a>
        <p>No drafting, application kicked out to Workflow. The result of selecting 'Send to Workflow link / button'</p>
      </li>

    </ul>


  </div>
</div>

{% endblock %}
