{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Application Processing - confirmation messages
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Confirmation pages</h2>

    <p>work in progress</p>

    <ul class="govuk-list govuk-list--bullet">

      <li>
        <a class="govuk-link" href="success">submitted: successfully sent to markoff</a>
        <br>-not yet tested with users
      </li>

      <li>
        <a class="govuk-link" href="workflow">submitted: sending to workflow to complete</a> (PAS notes exist, some drafting done)
        <br>-not yet tested with users
      </li>

      <li>
        <a class="govuk-link" href="workflow-no-drafting">send to workflow - undrafted</a> (no drafting, application kicked out to Workflow. The result of selecting 'send to workflow link / button')
        <br>-not yet tested with users
      </li>

    </ul>


  </div>
</div>

{% endblock %}
