{% extends "layouts/ap-flow-regular.html" %}

{% block pageTitle %}
Sent to Workflow, undrafted
{% endblock %}


{% block content %}


  <div class="govuk-grid-row govuk-body govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application 123456 not drafted",
        html: "Sent to Workflow",
        classes: "govuk-panel--confirmation--partial"
      }) }}

      

      <p class="govuk-body govuk-!-margin-top-6">
        <a href="#" class="govuk-link">Go to Workflow</a> to complete the application or start a new one.
      </p>
    </div>
  </div>

{% endblock %}
