{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}	<!--{{ super() }}-->
	{% include "../v8/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}


<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Application documents</a>
			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->

<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half register-column scroll ">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>

	<!-- Tasks section starts here -->

	<div class="govuk-grid-column-one-half column">

		<div class="casework-tasks-container">

			{{ govukBackLink({
				text: "Previous page",
				href: ""
				}) }}

			<form action="next-catch-all.html" method="post" novalidate>

				<!-- MD REF TABLE-->
				<table class="govuk-table govuk-!-margin-top-4 hmlr-table--tr-bottom-borders">
					
					<caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Charge details</caption>

					<tbody class="govuk-table__body">
					  <tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header"><abbr>MD</abbr> reference</th>
						<td class="govuk-table__cell">No <abbr>MD</abbr> reference present</td>
					  </tr>
					</tbody>
				</table>


				<!-- CRE CODES-->

				<table class="govuk-table govuk-table govuk-!-margin-top-8 hmlr-table--tr-bottom-borders">
					
					<caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Register entries</caption>

					<tbody class="govuk-table__body">

						<tr class="govuk-table__row">
							<td>
								<h2 class="govuk-heading-s govuk-!-margin-bottom-2">CD100</h2>
								<p class="govuk-body govuk-!-margin-bottom-0">REGISTERED CHARGE dated 28 August 2021</p>
							</td>
						</tr>

						<tr class="govuk-table__row">
							<td>
								{% include "./includes/inc_create-custom-lender-entry.html" %} 

								<a href="../v8/01-transferee.html" class="govuk-link govuk-link--no-visited-state govuk-!-display-block govuk-!-margin-bottom-4">Create custom lender entry</a>
							</td>
						</tr>

					</tbody>
				</table>


				<!-- Buttons and links -->
				<div class="govuk-button-group">
					<a href="#" role="button" class="govuk-button" data-module="govuk-button">
						Next
					</a>
					
					<span class="govuk-visually-hidden"> | </span><!-- only include this span if above "btn" is a hyperlink -->

					<a href="index.html" class="govuk-link govuk-link--no-visited-state">Return to Workflow</a>
				</div>

			</form>



		</div>

	</div> <!-- end Tasks column -->

</div>
{% endblock %}