{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../v8/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}

<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link" rel="noreferrer noopener"
					target="_blank">Application documents</a>

			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->

<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half register-column scroll ">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>


	<!-- Tasks section starts here -->

	<div class="govuk-grid-column-one-half xxxxxcolumn">

		{{ govukBackLink({
			text: "Back",
			href: "02-address-no-tab"
			}) }}

			<form method="post" novalidate>
				<span class="govuk-caption-m" style="margin-top: 30px;">Create custom lender entry</span>
				
				{% include "../v8/includes/inc_add-address-h1.html" %}

				<!-- Notification, if no selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
					aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
					<div class="govuk-notification-banner__header">
						<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
							Important
						</h2>
					</div>
					<div class="govuk-notification-banner__content">
						<p class="govuk-notification-banner__heading">
							<a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a>
							to complete this application
						</p>
					</div>
				</div>


				<!-- Table here-->
				<table class="govuk-table govuk-!-margin-bottom-2">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Lender</th>
							<th scope="col" class="govuk-table__header ">Address</th>
							<th scope="col" class="govuk-table__header ">Edit address</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"> Arthur Boyle <br>
								Marianne Malkovic</th>
							<td class="govuk-table__cell">15 Pevensey Rd, Eastbourne, BN21 3HR</td>
							<td class="govuk-table__cell">
								<a href="03-address.html" class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state">
									Change
								</a>
								<a href="02-address.html" class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state">
									Remove
								</a>

								REVISE THESE LINKS (design). 
							</td>
						</tr>
					</tbody>
				</table>	

				<a id='add-another-1' href="../v8/02-address-no-tab.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 ">
					Add address
				</a>

		
				<div style="margin-top: 20px;">

					{{ govukRadios({
					idPrefix: 'property-match',
					name: 'property-match',
					classes: 'govuk-radios--small govuk-radios--inline',
					fieldset: {
					legend: {
					html: 'Do you need to add anything else?',
					classes: 'govuk-fieldset__legend--s'
					}
					},
					items: [
					{
					html: 'Yes',
					value: 'Yes',
					checked: checked('property-match','Yes')
					},
					{
					html: 'No',
					value: 'No',
					checked: checked('property-match','No')
					}
					]
					}) }}

				</div>

				<div class="govuk-button-group govuk-!-margin-top-7">
					<a id="mainBtn" href="10-cre-codes.html" role="button" draggable="false" class="govuk-button ap-secondary-button"
						data-module="govuk-button">
						Create custom lender entry
					</a>

					<span class="govuk-visually-hidden"> | </span><!-- only includ this span if above "btn" is a hyperlink -->

					<a href="00-cre-codes.html" class="govuk-link govuk-link--no-visited-state">Cancel creating custom lender entry</a>
				</div> 

			</form>

	</div>
</div>

<!-- end Tasks column -->
{% endblock %}


{% block pageScripts %}
<script>
	$('#main-content').find('input[name=property-match]').change(function() {
		if (this.value == 'Yes') {
			$('#warning').show(); 
			$('#mainBtn').text('Send to Workflow');
		}else{
			$('#warning').hide();
			$('#mainBtn').text('Create custom lender entry');
		}
	});
</script>
{% endblock %}