{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}	<!--{{ super() }}-->
	{% include "../v8/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}

<style>
	header .govuk-header__link {
		display: inline-block; 
		text-indent: -3000px;
	}
</style>
<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">


		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">

		</div>
	</div>
</div>

<!-- end - application information  -->

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full hmlr-min-height-375">

		<noscript>This page requires JavaScript support.</noscript>

		<p class="govuk-body">
			This journey is not part of the user testing scenario: <br>

			<a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-display-inline-block govuk-!-margin-top-5" onclick="history.back()" rel="noreferrer noopener">
				&lt; Go back to the previous page
			</a>			
			<br>
			<span class="govuk-!-display-inline-block govuk-!-margin-top-3">or</span>
			<br>
			<a href="index" class="govuk-link govuk-link--no-visited-state govuk-!-display-inline-block govuk-!-margin-top-3" rel="noreferrer noopener">
				&lt; Go to the start page
			</a>
		</p>

	</div>
</div>

{% endblock %}