{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Initial tasks
{% endblock %}

{% block content %}

  <!-- application information  -->
	{% include "./includes/application-info-initial-tasks.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	<form action="01-preliminary" method="post">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Verified by automation
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="checklist" data-testid="task-checklist-container">
              <div class="checklist-header">
                <p class="govuk-body govuk-body__extra-margin">You do not need to check these details.</p>
              </div>
              <div class="checklist-container">
                <div class="checklist-items">
                  <h3 class="govuk-heading-s">Daylist</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>No prior applications</li>
                    <li>No stops</li>
                    <li>No official searches</li>
                  </ul>
                </div>
                <div class="checklist-items">
                  <h3 class="govuk-heading-s">Application</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Property matches description</li>
                    <li>All transferors match</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>

				<hr style="height:1px;border-width:0;color:gray;background-color:gray;margin-bottom:25px">
	      <h2 class="govuk-heading-m">Your tasks</h2>

<!-- Notification, if no selected -->
				<div id="warning" class="govuk-notification-banner" role="region"
				  aria-labelledby="govuk-notification-banner-title"
				  data-module="govuk-notification-banner">
				  <div class="govuk-notification-banner__header">
				    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				      Important
				    </h2>
				  </div>
				  <div class="govuk-notification-banner__content">
				    <p class="govuk-notification-banner__heading">
				      <a class="govuk-notification-banner__link" href="workflow-no-drafting">Send to Workflow</a> to complete this application.
				    </p>
				  </div>
				</div>


	    <!-- First task - yes no  -->

	      {{ govukRadios({
	        idPrefix: 'property-match',
	        name: 'property-match',
	        classes: 'js-no-return-to-workflow / govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            html: 'Are the documents for the right property and title number?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('property-match','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('property-match','No')
	          }
	        ]
	      }) }}

				{{ govukRadios({
	        idPrefix: 'customer-match',
	        name: 'customer-match',
	        classes: 'js-no-return-to-workflow / govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            html: 'Do the following customer details match the documents?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        hint: {
	          html: '<ul class="govuk-list govuk-list--bullet">
 										<li>Customer name(s): Young & Perry Solicitors</li>
										<li>Key number: 7437831</li>
	                </ul>'
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('customer-match','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('customer-match','No')
	          }
	        ]
	      }) }}


	      {{ govukRadios({
	        idPrefix: 'conveyancer-match',
	        name: 'conveyancer-match',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            html: 'Has the application been lodged by a conveyancer?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },

	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('conveyancer-match','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('conveyancer-match','No')
	          }
	        ]
	      }) }}

				{{ govukRadios({
					idPrefix: 'correct-fee',
					name: 'correct-fee',
					classes: ' govuk-radios--small govuk-radios--inline',
					fieldset: {
						legend: {
							text: 'Has the correct fee been paid?',
							classes: 'govuk-fieldset__legend--s'
						}
					},
					hint: {
						html: '<p><a class="govuk-link" href="#0">Open fee calculator (opens in a new tab)</a></p>
									<ul class="govuk-list govuk-list--bullet">
										<li>Fee paid: £30</li>
										<li>Channel: Business Gateway</li>
									</ul>'
					},
					items: [
						{
							html: 'Yes',
							value: 'Yes',
							checked: checked('correct-fee','Yes')
						},
						{
							html: 'No',
							value: 'No',
							checked: checked('correct-fee','No')
						}
					]
				}) }}

	    <!-- Buttons and links -->

			<div class="task-lists-submit">
				<button class="govuk-button" data-module="govuk-button">
					Save and continue
				</button>
				<a href="workflow-no-drafting" class="govuk-link reject-button">Return to Workflow</a>
			</div>

		</form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
