{% extends "layouts/ap-document-viewer.html" %}

{% block pageTitle %}
  Available documents
{% endblock %}

{% block content %}

  <style>
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      /* remove extra space below image */
    }
    .box {
      width: 1000/px;
      border: 1px solid black;
    }
    .box.large {
      height: 300px;
    }
    .box.small {
      height: 100px;
    }
  </style>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
          <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-6">Available documents</h1>
          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Documents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#doc1">
                  1. AP1 form
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#doc2">
                  2. Charge
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#doc3">
                  3. RX1
                </a>
              </li>


            </ul>
            <div class="govuk-tabs__panel box" id="doc1">
              <img src="/public/images/combinations/combo-ap1-1-C.png">
              <img src="/public/images/combinations/combo-ap1-2-C.png">
              <img src="/public/images/combinations/combo-ap1-3.png">
              <img src="/public/images/combinations/combo-ap1-4-C.png">
              <img src="/public/images/combinations/combo-ap1-5.png">
              <img src="/public/images/combinations/ap1-6-p2.png">

            </div>


            <div class="govuk-tabs__panel box" id="doc2">
              <img src="/public/images/combinations/combinations-charge-2.png" type="application/png">
              </div>

            <div class="govuk-tabs__panel box" id="doc3" style="height: 70vh">
              <embed src="/public/images/combinations/Form N - A.pdf" width="100%" height="100%" type="application/pdf">
            </div>


          </div>
        </div>
      </div>

    </main>
  </div>

{% endblock %}
