{% extends "layouts/ap-flow-wide.html" %}

{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: "Application Processing",
	  serviceUrl: "/charge-defer/charge-evidence-index"
	}) }}
{% endblock %}

{% block pageTitle %}
 {{ appnType | d('Charge') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber | d('DN1000') }}.

 Discharge and restrictions
{% endblock %}

{% block content %}

	<!-- application information  -->
	{% include "./includes/application-info.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

<!--     	{{ govukBackLink({
	      text: 'Back',
	      href: '05-address-for-service'
	    }) }} -->

    	<form method="post">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Verified by automation
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="checklist" data-testid="task-checklist-container">
              <div class="checklist-header">
                <p class="govuk-body govuk-body__extra-margin">You do not need to check these details.</p>
              </div>
              <div class="checklist-container">
                <div class="checklist-items">
                  <h3 class="govuk-heading-s">Daylist</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>No prior applications</li>
                    <li>No stops</li>
                    <li>No official searches</li>
                  </ul>
                </div>
                <div class="checklist-items">
                  <h3 class="govuk-heading-s">Application</h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Property matches description</li>
                    <li>All transferors match</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>

	      <h2 class="govuk-heading-l">Tasks</h2>

	    	<!-- tasks go here  -->

				<!-- documents meet requirements?  -->
	      {{ govukRadios({
	        idPrefix: 'stops-action',
	        name: 'stops-action',
	        classes: 'govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Do stops require any further action?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
					hint: {
					 html: '<p>To check stops go to Daylist</p>'
				 },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('stops-action','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('stops-action','No')
	          }
	        ]
	      }) }}

				<!-- discharge evidence -->
	    	{{ govukRadios({
	        idPrefix: 'discharge-removal',
	        name: 'discharge-removal',
	        classes: 'govuk-radios--small js-register-radio-remove',
	        fieldset: {
	          legend: {
	            text: 'What evidence has been lodged to complete the discharge?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
					hint: {
					 html: 'Check the evidence for all charges in the register'
				 },
	        items: [
	          {
	            html: 'EDM (electronic evidence)',
	            value: 'Yes-e',
	            checked: checked('discharge-removal','Yes-e'),
	            attributes: {
                'data-register': '2',
                'data-item': '3',
                'data-remove': 'y'
              }
	          },
						{
							html: 'E-DS1M (electronic evidence)',
							value: 'Yes-e2',
							checked: checked('discharge-removal','Yes-e2'),
							attributes: {
								'data-register': '2',
								'data-item': '3',
								'data-remove': 'y'
							}
						},
	          {
	            html: 'Paper evidence',
	            value: 'Yes-p',
	            checked: checked('discharge-removal','Yes-p'),
	            attributes: {
                'data-register': '2',
                'data-item': '3',
                'data-remove': 'o'
              }
	          },
	          {
	            html: 'Evidence is incomplete or missing',
	            value: 'No',
	            checked: checked('discharge-removal','No'),
	            attributes: {
                'data-register': '2',
                'data-item': '3',
                'data-remove': 'n'
              }
	          }
	        ]
	      }) }}

<!--	<!-- stops require action?
	      {{ govukRadios({
	        idPrefix: 'stops-action',
	        name: 'stops-action',
	        classes: 'govuk-radios--small govuk-radios',
	        fieldset: {
	          legend: {
	            text: 'There are stops on the register.  Do they require any further action?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        hint: {
	          text: 'To check stops go to Daylist'
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('stops-action','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('stops-action','No')
	          }
	        ]
	      }) }}
-->

	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->

				<div class="task-lists-submit">
			    <button class="govuk-button" data-module="govuk-button">
			      Next
			    </button>
			    <a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
	 			</div>

		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}

{% block pageScripts %}

<script>
// Toggle items in the register to be removed


$('.js-register-radio-remove input').change(function() {
  var register = $(this).attr('data-register');
  var item = $(this).attr('data-item');
  var toRemove = $(this).attr('data-remove');


  if (toRemove == 'y' ) {
  	if ($('#b3-container').is(":hidden") == false)  // stop adding more entries if selecting the two options for yes
  	{
	  	$('#b3-container').hide();
	  	$('#temp1').hide();
	  	$('#b-register').append('<li id="b3" class="withdraw"><div class="removing-inset-text--gov" id="inset-b3"><div id="tag-b3"><strong class="govuk-tag govuk-tag--red" id="tag" style="margin-bottom: 10px;">Removing</strong></div>(11.06.2012) RESTRICTION: No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 24 May 2012 in favour of Landmark Mortgages Limited referred to in the Charges Register.</div></li>');
 		}
  } else {
  	$('#b3-container').show();
  	$('#b3').remove();

		var evidence = $("input:radio[name ='discharge-removal']:checked").val()

  	if ((evidence == 'No'||'Yes-p')) // if coming back from next page then changing answer need to tidy up and show the right things
  	{
  		$('.temp1').remove();
  		$('#temp').hide();
  		$('#b-register').append('<li id="temp1" class="temp1">(11.06.2012) RESTRICTION: No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 24 May 2012 in favour of Landmark Mortgages Limited referred to in the Charges Register.</li>');

  	}

  	// if no evidence lodged selected add the li back in - if its not visible
  }

});
</script>

{% endblock %}
