{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Example flows</h1>

    <p class="govuk-body">Example application processing flows built with the new UI elements.  These will be for new (post ui re-write) prototype work.</p>

    <p class="govuk-body">This is work in progress - each listed flow will say how complete it is, or what is left needed to complete it</p>

    <p class="govuk-body">Example application processing flows built with the new UI elements</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v2/">Charge version 2</a> working, may not match ui rewrite fully.
      </li>
      <li>
        <a class="govuk-link" href="v1/">Charge version 1</a> superceeded by v2 - can be discarded
      </li>

    </ul>


  </div>
</div>

{% endblock %}
