{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
 {{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber | d('DN1000') }}.

 Discharge and restrictions
{% endblock %}

{% block content %}

	<!-- application information  -->

	<div class="govuk-grid-row ap-no-row-l-r-margin">
		<div id="application-info-container">
			<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
	  		<h1 class="govuk-heading-m application-type">{{ appnType | d('Charge') }}</h1>

	  				<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
	  				<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000') }}</span>

		  </div>

		  <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
		  	<p id="documents-launcher">
		      <a href="_document-viewer" class="govuk-link document-link js-documents-window" target="_blank">Application documents</a>
				</p>
			</div>
		</div>
	</div>

	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">
      {{ govukBackLink({
        text: 'Back',
        href: '03-add-charge-entry'
      }) }}

    	<form method="post">

	      <h2 class="govuk-heading-l">Tasks</h2>

	    	<!-- tasks go here  -->


	      <!-- register restrictions -->
	      {{ govukRadios({
	        idPrefix: 'register-restrictions',
	        name: 'register-restrictions',
	        classes: 'govuk-radios--small',
	        fieldset: {
	          legend: {
	            text: 'There are restrictions in the register. Can the application still be processed?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('register-restrictions','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('register-restrictions','No')
	          },
            {
              html: 'Needs a referral',
              value: 'Needs a referral',
              checked: checked('register-restrictions','Needs a referral')
            }
	        ]
	      }) }}

	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->

        <div class="task-lists-submit js-missing-input">
          {{ govukButton({
            html: 'Next',
            href: '05-any-other-entries'
          }) }}

          <a href="04-summary-page-skip" class="reject-button">Return to workflow</a>
        </div>
		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
