{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Charge
{% endblock %}

{% block content %}

<!-- application information  -->
{% include "./includes/application-info.html" %}
<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">
      {{ govukBackLink({
        text: 'Back',
        href: '03-add-charge-entry'
      }) }}

    	<form action="04-discharge" method="post">

	      <h2 class="govuk-heading-l">Tasks</h2>

	    	<!-- tasks go here  -->


	      <!-- register restrictions -->
	      {{ govukRadios({
	        idPrefix: 'register-restrictions',
	        name: 'register-restrictions',
	        classes: 'govuk-radios--small',
	        fieldset: {
	          legend: {
	            text: 'There are restrictions in the register. Can the application still be processed?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('register-restrictions','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('register-restrictions','No')
	          },
            {
              html: 'Needs a referral',
              value: 'Needs a referral',
              checked: checked('register-restrictions','Needs a referral')
            }
	        ]
	      }) }}

	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->

        <div class="task-lists-submit">
					<button class="govuk-button" data-module="govuk-button">
						Next
					</button>
					<a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
				</div>

			</form>




	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
