{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../v9/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}

<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link" rel="noreferrer noopener"
					target="_blank">Application documents</a>
			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->



<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half register-column scroll ">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>


	<!-- Tasks section starts here -->
	<div class="govuk-grid-column-one-half">

		<div class="govuk-form-group">

			{{ govukBackLink({
				text: "Back",
				href: "00-cre-codes"
			}) }}

			<form method="post">

				<span class="govuk-caption-m">Create custom lender entry</span>
				<h1 class="govuk-heading-m">
					Who are the lenders?
				</h1> <!-- Enter all lenders -->

				<!-- Notification, if no selected -->
				{% include "../v9/includes/inc_warning-banner.html" %}				

				<!-- Lender 1 starts -->
				<fieldset id="lender-1" class="govuk-fieldset govuk-!-margin-top-2" aria-describedby="lender-1">

					<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
						<h2 class="govuk-fieldset__heading">
						  Lender 1
						</h2>
					</legend>

					<div class="govuk-radios js-no-return-to-workflow1  govuk-radios--small" data-module="govuk-radios">
						
						<!-- Private individual 1 -->
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="individual-1" name="radios-1" type="radio"
								value="text" data-aria-controls="conditional-individual-1">
							<label class="govuk-label govuk-radios__label" for="individual-1">
								Private individual
							</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-!-padding-top-2"
							id="conditional-individual-1">
							<div class="govuk-form-group">

								<label class="govuk-label" for="type-individual-01">
									First name
								</label>
								<input class="govuk-input govuk-!-width-one-third" id="type-individual-01"
									name="type-individual-1" type="text" value=''>

								<label class="govuk-label govuk-!-padding-top-4" for="type-individual-02">
									Last name
								</label>
								<input class="govuk-input govuk-!-width-one-third" id="type-individual-02"
									name="type-individual-1" type="text" value=''>
							</div>
						</div>

						<!-- Company number 1 -->
						<div class="govuk-radios__item">

							<input class="govuk-radios__input" id="company-1" name="radios-1" type="radio" value="text"
								data-aria-controls="conditional-company-1">
							<label class="govuk-label govuk-radios__label" for="company-1">
								UK based company
							</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-!-padding-top-2"
							id="conditional-company-1">
							<div class="govuk-form-group">
								<label class="govuk-label" for="type-company-name-1">
									Company name
								</label>
								<input class="govuk-input govuk-!-width-one-third" value='' id="type-company-name-1"
									name="type-company-name-1" type="text">

								<label class="govuk-label govuk-!-padding-top-4" for="type-company-number-1">
									Company number
								</label>
								<div id="more-detail-hint" class="govuk-hint govuk-!-font-size-16">
									Include any prefixes such as <abbr>NI</abbr> or <abbr>SC</abbr> 
								</div>
								<input class="govuk-input govuk-!-width-one-third" value='' id="type-company-number-1"
									name="type-company-number-1" type="text">

								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="not-found-1" name="not-found-1"
											type="checkbox" value="not-found-1">
										<label class="govuk-label govuk-checkboxes__label" for="not-found-1">
											I cannot find the company number
										</label>
									</div>
								</div>

							</div>

						</div>

						<div class="govuk-radios__divider">or</div>

						<!-- Something else 1 -->
						<div class="govuk-radios__item">

							<input class="govuk-radios__input" id="something-else-1" name="radios-1" type="radio" value="No"
								data-aria-controls="something-else-1">
							<label class="govuk-label govuk-radios__label" for="something-else-1">
								Send to Workflow to complete this application <!--Something else-->
							</label>
						</div>
					</div>

				</fieldset>
				<!-- Lender 1 ends -->

				<!-- Lender 2 -->
				<fieldset id="lender-2" class="govuk-fieldset govuk-!-margin-top-6 hmlr-fieldset-right-link" aria-describedby="lender-2" style="display: none">
					
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
						<h2 class="govuk-fieldset__heading">
							Lender 2
						</h2>
					</legend>

					<p id="add-another-lender-link" class="govuk-body hmlr-fieldset-right-link_target">
						<a href="#" id="remove-another-1" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden"> lender 2</span></a> 
					</p>

					<div class="govuk-radios js-no-return-to-workflow1 govuk-radios--small" data-module="govuk-radios">
						<!-- Private individual 2 -->
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="individual-2" name="radios-2" type="radio"
								value="text" data-aria-controls="conditional-individual-2">
							<label class="govuk-label govuk-radios__label" for="individual-2">
								Private individual
							</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-!-padding-top-2"
							id="conditional-individual-2">
							<div class="govuk-form-group">

								<label class="govuk-label" for="type-individual-03">
									First name
								</label>
								<input class="govuk-input govuk-!-width-one-third" id="type-individual-03"
									name="type-individual-2" type="text" value=''>

								<label class="govuk-label govuk-!-padding-top-4" for="type-individual-04">
									Last name
								</label>
								<input class="govuk-input govuk-!-width-one-third" id="type-individual-04"
									name="type-individual-2" type="text" value=''>
							</div>
						</div>


						<!-- Company number 2 -->
						<div class="govuk-radios__item">

							<input class="govuk-radios__input" id="company-2" name="radios-2" type="radio" value="text"
								data-aria-controls="conditional-company-2">
							<label class="govuk-label govuk-radios__label" for="company-2">
								UK based company
							</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-!-padding-top-2"
							id="conditional-company-2">
							<div class="govuk-form-group">
								<label class="govuk-label" for="type-company-name-2">
									Company name
								</label>
								<input class="govuk-input govuk-!-width-one-third" value='' id="type-company-name-2"
									name="type-company-name-2" type="text">

								<label class="govuk-label govuk-!-padding-top-4" for="type-company-number-2">
									Company number
								</label>
								<div id="more-detail-hint" class="govuk-hint">
									Include any prefix, for example, NI or SC
								</div>
								<input class="govuk-input govuk-!-width-one-third" value='' id="type-company-number-2"
									name="type-company-number-2" type="text">

								<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="not-found-2" name="not-found-2"
											type="checkbox" value="not-found-2">
										<label class="govuk-label govuk-checkboxes__label" for="not-found-2">
											I cannot find the company number
										</label>
									</div>
								</div>

							</div>

						</div>

						<div class="govuk-radios__divider">or</div>

						<!-- Something else 1 -->
						<div class="govuk-radios__item">

							<input class="govuk-radios__input" id="something-else-2" name="radios-2" type="radio" value="No"
								data-aria-controls="something-else-2">
							<label class="govuk-label govuk-radios__label" for="something-else-2">
								Send to Workflow to complete this application <!--Something else-->
							</label>
						</div>
					</div>

				</fieldset>
				<!-- Lender 2 ends -->


				<!-- if user accidently selects 'add another lender' and wants to remove it they can't and then how do we error message the second lender form because values will be missing - user may not know they can remove this later? 
					User should really be adding address per page paginating through until they've finished and then they move on to the next page. DH -->


				<p id="add-another-lender-link" class="govuk-body govuk-!-margin-top-2">
					<a href="#" id="add-another-1" class="govuk-link govuk-link--no-visited-state">Add another lender</a> 
				</p>	
				
								

				<!-- Buttons and links -->
				<div class="govuk-button-group govuk-!-margin-top-7">
					<a id="mainBtn" href="02-filter.html" role="button" draggable="false" class="govuk-button ap-secondary-button"
						data-module="govuk-button">
						Next
					</a>
					
					<span class="govuk-visually-hidden"> | </span><!-- only include this span if above "btn" is a hyperlink -->

					<a href="00-cre-codes.html" class="govuk-link govuk-link--no-visited-state">Cancel creating custom lender entry</a>
				</div>

			</form>



		</div>

	</div> <!-- end Tasks column -->

</div>
{% endblock %}


{% block pageScripts %}
<script>
$(document).ready(function() {
	var originalURL = $('#mainBtn').attr('href');

	function setLender(n,v){
		$('#lender-'+''+n+'').find('.govuk-radios__input').prop('disabled', v);//.prop("checked", false);

		if(v == true){
			$('#add-another-1').hide();
			$('#warning').show().focus();
			$('#mainBtn').text('Send to Workflow').attr('href','next-catch-all').removeClass('ap-secondary-button');
			$('#lender-1').add('#lender-2').find('input:checked').parent().next('.govuk-radios__conditional').addClass('govuk-radios__conditional--hidden');
		}else{
			$('#add-another-1').show();
			$('#warning').hide().blur();
			$('#mainBtn').text('Next').attr('href',originalURL).addClass('ap-secondary-button');
			$('#lender-1').add('#lender-2').find('input:checked').parent().next('.govuk-radios__conditional').removeClass('govuk-radios__conditional--hidden');
		}
	}

	$('#lender-1').find('input[name=radios-1]').change(function() {
		if (this.value == 'No') {
			setLender('2',true);
		}else{
			setLender('2',false);
		}
	});

	$('#lender-2').find('input[name=radios-2]').change(function() {
		if (this.value == 'No') {
			setLender('1',true);
		}else{
			setLender('1',false);
		}
	});

	$('#add-another-1').click(function (e) {
		$('#lender-2').show();
	});

	$('#remove-another-1').click(function (e) {
		$('#lender-2').hide().find('input').val('').prop('checked', false);
	});

});	
</script>
{% endblock %}