{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../v9/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}

<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link" rel="noreferrer noopener"
					target="_blank">Application documents</a>
			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->



<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half xxxxxregister-column scroll">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>


	<!-- Tasks section starts here -->

	<div class="govuk-grid-column-one-half xxxxxcolumn">

			{{ govukBackLink({
				text: "Back",
				href: "01-transferee"
				}) }}

								

			<form method="post" novalidate>

				
				<fieldset class="govuk-fieldset">
					
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<span class="govuk-caption-m">Create custom lender entry</span>
						<h1 class="govuk-fieldset__heading">
							Are all the lender addresses <abbr>UK</abbr> postal addresses?<!--Which addresses are you adding?-->
						</h1>
					</legend>

					<!--
						include "../v9/includes/inc_warning-banner.html" 
					-->
					
					<div class="govuk-radios govuk-radios--small govuk-radios" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="property-match" name="property-match" type="radio" value="Private individual">
							<label class="govuk-label govuk-radios__label" for="property-match">
								Yes
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="property-match-2" name="property-match" type="radio" value="No">
							<label class="govuk-label govuk-radios__label" for="property-match-2">
								No &ndash; Send to Workflow to complete this application
							</label>
						</div>
					</div>
				</fieldset>



				<!-- Buttons and links -->
				<div class="govuk-button-group govuk-!-margin-top-7">
					<a id="mainBtn" href="03-address.html" role="button" draggable="false" class="govuk-button ap-secondary-button"
						data-module="govuk-button">
						Next
					</a>
					
					<span class="govuk-visually-hidden"> | </span><!-- only include this span if above "btn" is a hyperlink -->

					<a href="00-cre-codes.html" class="govuk-link govuk-link--no-visited-state">Cancel creating custom lender entry</a>
				</div>

			</form>

	</div> <!-- end Tasks column -->

</div>


{% endblock %}


{% block pageScripts %}
<script>
	$('#main-content').find('input[name=property-match]').change(function() {
		if (this.value == 'No') {
			$('#warning').show().focus();
			$('#mainBtn').text('Send to Workflow');
		}else{
			$('#warning').blur().hide();
			$('#mainBtn').text('Next');
		}
	});

	//ADD ANOTHER 1
	// button to add another is pressed
	/*$('#add-another-1').click(function (e) {
		//component for adding address 1 is shown - UK address
		$('#transferee-2').show()
		//button to add address 1 is hidden
		$('#add-another-1').hide()
	});*/
</script>
{% endblock %}