{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../v9/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}

<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link" rel="noreferrer noopener"
					target="_blank">Application documents</a>

			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->



<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half register-column scroll ">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>

	<!-- Tasks section starts here -->
	<div class="govuk-grid-column-one-half xxxxxcolumn">

			{{ govukBackLink({
				text: "Back",
				href: "02-filter"
				}) }}

			<!--
			{% include "../v8/includes/inc_warning-banner.html" %}
			-->

			<form method="post" novalidate>

				<span class="govuk-caption-m" style="margin-top: 30px;">Create custom lender entry</span>
				<h1 class="govuk-heading-m">Add <abbr>UK</abbr> addresses</h1>

				<!-- Table here-->
				<table class="govuk-table govuk-!-margin-bottom-2 hmlr-table--tds-vertical-middle">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Lender</th>
							<th scope="col" class="govuk-table__header ">Address</th>
							<th scope="col" class="govuk-table__header ">Edit address</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell" colspan="3">No address added</th>
						</tr>
					</tbody>
				</table>

				<a id='add-another-1' href="../v9/03-address-no-tab.html"
					class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">
					Add address
				</a>

				<!-- Address 1 component  -->

				<!--div id="address-1" style="display: none">

					<div id="select-type-1">

						<div class="govuk-form-group" style="margin-bottom: 10px;">
							<fieldset class="govuk-fieldset">
								<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
									<h1 class="govuk-fieldset__heading">
										Address 1
									</h1>
									<h1 class="govuk-fieldset__heading">
										Which type of address do you want to add?
									</h1>
								</legend>
								<div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="uk-postal-address" name="address" type="radio"
											value="uk-postal-address">
										<label class="govuk-label govuk-radios__label" for="address">
											UK postal address
										</label>
									</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="email-address" name="address" type="radio"
											value="email">
										<label class="govuk-label govuk-radios__label" for="address-1">
											Email address
										</label>
									</div>
								</div>
							</fieldset>
						</div>

						<a id='add-address-button-1' role="button" draggable="false" class="govuk-button ap-secondary-button"
							style="margin-bottom: 0px;"> Next </a>

						<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
									margin-bottom: 10px;
								">
					</div>

					<div id="select-postcode-1" style="display: none">

						<h3 class="govuk-heading-s" style="margin-bottom: 10px;">Address 1

							<div class="govuk-form-group" style="	margin-bottom: 10px; margin-top: 10px;">
								<label class="govuk-label" for="address-postcode">
									Postcode
								</label>
								<input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode"
									type="text" autocomplete="postal-code">
							</div>


							<a id='find-address-button-1' role="button" draggable="false"
								class="govuk-button ap-secondary-button" style="margin-bottom: 10px;"> Find address </a>



					</div>

					<div id="select-address-1" style="display: none">

						<h3 class="govuk-heading-s" style="margin-bottom: 10px;">Address 1

							<div class="govuk-form-group" style="	margin-bottom: 10px; margin-top: 10px;">
								<label class="govuk-label" for="sort">
									Address
								</label>
								<select class="govuk-select" id="sort" name="sort">
									<option value="published" selected>15 Pevensey Rd, Eastbourne BN21 3HR</option>
									<option value="updated">17 Pevensey Rd, Eastbourne BN21 3HR</option>
									<option value="views">19 Pevensey Rd, Eastbourne BN21 3HR</option>
									<option value="comments">21 Pevensey Rd, Eastbourne BN21 3HR</option>
								</select>
							</div>

							<a href="#" class="govuk-link" style="margin-bottom: 10px"> Clear search</a>


					</div>

					<div id="other-stuff-1" style="display: none">

						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="cannot-find" name="undisclosed" type="checkbox">
									<label class="govuk-label govuk-checkboxes__label" for="cannot-find">
										I cannot find the address on the list
									</label>
								</div>
							</div>
						</div>

						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="care-of" name="undisclosed" type="checkbox">
									<label class="govuk-label govuk-checkboxes__label" for="care-of">
										This is a care of address
									</label>
								</div>
							</div>
						</div>

						<h3 class="govuk-heading-s" style="margin-bottom: 10px; margin-top: 10px;">Select transferees
							for this address
						</h3>

						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="name-1" name="name-1" type="checkbox"
										value="name-1">
									<label class="govuk-label govuk-checkboxes__label" for="name-1">
										Olivia West
									</label>
								</div>
							</div>
						</div>

						<div class="govuk-form-group" style="margin-bottom: 0px">
							<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input" id="name-2" name="name-2" type="checkbox"
										value="name-2">
									<label class="govuk-label govuk-checkboxes__label" for="name-2">
										Oscar Williams
									</label>
								</div>
							</div>


						</div>


						<div class="task-lists-submit">

							<a href="../../address-proto/v3/03-address.html" id='save-address-1' role="button" draggable="false"
								class="govuk-button ap-secondary-button"> Save address </a>

							<a href="" class="govuk-link reject-button">Cancel</a>
						</div>

					</div>

				</div-->

				<div class="govuk-button-group govuk-!-margin-top-7">
					<a href="02-filter.html" role="button" draggable="false" class="govuk-button ap-secondary-button"
						data-module="govuk-button">
						Create custom lender entry
					</a>

					<span class="govuk-visually-hidden"> | </span><!-- only include this span if above "btn" is a hyperlink -->

					<a href="00-cre-codes.html" class="govuk-link govuk-link--no-visited-state">Cancel creating custom lender entry</a>
				</div>

			</form>

	</div>
</div>


</div>

</div>

<!-- end Tasks column -->

</div>

{% endblock %}


{% block pageScripts %}
<script>
	//no pop up warnings on this v9 page
</script>
{% endblock %}