{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../v9/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}

<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link" rel="noreferrer noopener"
					target="_blank">Application documents</a>

			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->



<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half register-column scroll ">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>


	<!-- Tasks section starts here -->

	<div class="govuk-grid-column-one-half xxxxxcolumn">

			{{ govukBackLink({
				text: "Back",
				href: "03-address"
				}) }}


				<form method="post" novalidate>

					<span class="govuk-caption-m govuk-!-margin-top-3">Create custom lender entry</span>
					<h1 class="govuk-heading-m"  >Add the address</h1>


					<!-- Notification, if no selected -->
					{% include "../v9/includes/inc_warning-banner.html" %}


					<!-- Address 1 component  -->
					<div id="address-1">



						<!-- Address 1 - select postcode  -->

						<div id="select-postcode-1">
							<div class="govuk-form-group govuk-!-margin-bottom-2">
								<label class="govuk-label" for="address-postcode">
									Enter a postcode
								</label>
								<input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode"
									type="text" autocomplete="postal-code">
							</div>

							<a href="#" id='find-address-button-1' role="button" draggable="false" class="govuk-button ap-secondary-button">
								Find address
							</a>
						</div>

						<!-- Address 1 - select address from list  -->
						<div id="select-address-1" class="govuk-!-margin-top-2 govuk-!-margin-bottom-8" style="display: none">
							<div class="govuk-form-group govuk-!-margin-bottom-2">
								<label class="govuk-label" for="sort">
									Select an address
								</label>
								<select class="govuk-select" id="sort" name="sort">
									<option value="published" selected>15 Pevensey Rd, Eastbourne BN21 3HR</option>
									<option value="updated">17 Pevensey Rd, Eastbourne BN21 3HR</option>
									<option value="views">19 Pevensey Rd, Eastbourne BN21 3HR</option>
									<option value="comments">21 Pevensey Rd, Eastbourne BN21 3HR</option>
								</select>
							</div>

							<a href="#" id="clear-the-search" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">
								Clear search
							</a>
						</div>

						<!-- Address 1 - other stuff -->
						<div id="other-stuff-1">

							<div class="govuk-form-group js-no-return-to-workflow govuk-!-margin-bottom-0">
								<div class='govuk-checkboxes govuk-checkboxes--small' value="no"  data-module='govuk-checkboxes'>
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="cannot-find" name="undisclosed" type="checkbox">
										<label class="govuk-label govuk-checkboxes__label" for="cannot-find">
											I cannot find the address on the list
										</label>
									</div>
								</div>
							</div>

							<div class="govuk-form-group govuk-!-margin-bottom-0">
								<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="care-of" name="undisclosed" type="checkbox">
										<label class="govuk-label govuk-checkboxes__label" for="care-of">
											This is a care of address <!--(<abbr>c/o</abbr>)-->
										</label>
									</div>
								</div>
							</div>

							<h3 class="govuk-heading-s govuk-!-margin-top-5 govuk-!-margin-bottom-2">
								Select lenders for this address
							</h3><!-- **** this should be a fieldset and legend? (then remove the zero margins) **** -->

							<div class="govuk-form-group govuk-!-margin-bottom-0">
								<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="name-1" name="name-1" type="checkbox"
											value="name-1">
										<label class="govuk-label govuk-checkboxes__label" for="name-1">
											Arthur Boyle
										</label>
									</div>
								</div>
							</div>

							<div class="govuk-form-group govuk-!-margin-bottom-0">
								<div class='govuk-checkboxes govuk-checkboxes--small' data-module='govuk-checkboxes'>
									<div class="govuk-checkboxes__item">
										<input class="govuk-checkboxes__input" id="name-2" name="name-2" type="checkbox"
											value="name-2">
										<label class="govuk-label govuk-checkboxes__label" for="name-2">
											Marianne Malkovic
										</label>
									</div>
								</div>


							</div>


							<div class="govuk-button-group govuk-!-margin-top-7">
								<a href="../../address-proto/v9/04-address.html" id='save-address-1' role="button"
								draggable="false" class="govuk-button ap-secondary-button"> Save address </a>
		
								<span class="govuk-visually-hidden"> | </span><!-- only include this span if above "btn" is a hyperlink -->
			
								<a href="03-address.html" class="govuk-link govuk-link--no-visited-state">Cancel adding address</a>
							</div>


						</div>

					</div>

				</form>



			</div>
		</div>


	</div>


</div>


</div>

</div>

<!-- end Tasks column -->

</div>

{% endblock %}


{% block pageScripts %}
<script>
	$(document).ready(function() {
		var originalURL = $('#save-address-1').attr('href');

		// button to search the address linked to the postcode entered is pressed
		$('#find-address-button-1').click(function(e){
			$('#select-postcode-1').hide();
			$('#select-address-1').show();
		});

		function clearTheSearch(){
			$('#address-postcode').val('');
			$('#select-postcode-1').show();
			$('#select-address-1').hide();
		}

		$('#clear-the-search').on('click', function(){
			clearTheSearch();
		});

		$('#cannot-find').change(function(){
			if ($(this).is(':checked')) {
				$('#warning').show();
				clearTheSearch();
				$('mainBtn').text('Send to Workflow');
				$('#save-address-1').attr('href','next-catch-all').text('Send to Workflow').removeClass('ap-secondary-button');
			}else{
				$('#warning').hide();
				$('#save-address-1').attr('href',originalURL).text('Save address').addClass('ap-secondary-button');
			}
		});
	});
</script>
{% endblock %}