{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../v9/includes/inc_block-stylesheets.html" %}
{% endblock %}

{% block content %}

<!-- application information  -->

<div class="govuk-grid-row ap-no-row-l-r-margin">
	<div id="application-info-container">
		<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
			<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

			<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
			<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000')
				}}</span>

		</div>

		<div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
			<p id="documents-launcher">
				<a href="_document-viewer-a.html" class="govuk-link" rel="noreferrer noopener"
					target="_blank">Application documents</a>

			</p>
		</div>
	</div>
</div>

<!-- end - application information  -->



<div class="govuk-grid-row">

	<div class="govuk-grid-column-one-half register-column scroll ">
		<div id="register-container">

			{% include "./includes/register.html" %}

		</div>
	</div>


	<!-- Tasks section starts here -->

	<div class="govuk-grid-column-one-half column">

		<div class="casework-tasks-container">

			{{ govukBackLink({
			text: "Back",
			href: "03-address-no-tab"
			}) }}

			<form method="post" novalidate>
				<span class="govuk-caption-m govuk-!-margin-top-3">Create custom lender entry</span>
				
				{% include "../v9/includes/inc_add-address-h1.html" %}


				<!-- Table here-->

				<table class="govuk-table govuk-!-margin-bottom-2">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Lender</th>
							<th scope="col" class="govuk-table__header ">Address</th>
							<th scope="col" class="govuk-table__header ">Edit address</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"> 
								<span class="govuk-!-display-block">Arthur Boyle.</span>
								
								<span class="govuk-!-display-block">Marianne Malkovic.</span>
							</th>
							<td class="govuk-table__cell">15 Pevensey Rd, Eastbourne, BN21 3HR</td>
							<td class="govuk-table__cell">
								<ul class="govuk-list govuk-list--spaced">
									<li class="">
										<a href="03-address-no-tab.html" class="govuk-link govuk-!-font-size-16 govuk-link--no-visited-state">
											Change <span class="govuk-visually-hidden">address for lender(s) 1</span>
										</a>
									</li>
									<li>
										<a href="03-address.html" class="govuk-link govuk-!-font-size-16 govuk-link--no-visited-state">
											Remove <span class="govuk-visually-hidden">address for lender(s) 1</span>
										</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>					
				</table>

				<a id='add-another-1' href="../v9/03-address-no-tab.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">
					Add address
				</a>

			</div>

			<div class="govuk-button-group govuk-!-margin-top-7">
				<a id="mainBtn" href="10-cre-codes.html" role="button" draggable="false" class="govuk-button ap-secondary-button"
					data-module="govuk-button">
					Create custom lender entry
				</a>

				<span class="govuk-visually-hidden"> | </span><!-- only include this span if above "btn" is a hyperlink -->

				<a href="00-cre-codes.html" class="govuk-link govuk-link--no-visited-state">Cancel creating custom lender entry</a>
			</div> 

		</form>



	</div>

</div>


</div>

</div>

<!-- end Tasks column -->

</div>

{% endblock %}


{% block pageScripts %}
<script>

	//ADD ANOTHER 1

	// button to add another is pressed
	//$('#add-another-1').click(function (e) {
		//component for adding address 1 is shown - UK address
		//$('#address-1').show()
		//button to add address 1 is hidden
		//$('#add-another-1').hide()
	});


	// ADDRESS 1
	// button to add the address is pressed
	$('#add-address-button-1').click(function (e) {
		// select address type section gets hidden
		$('#select-type-1').hide();
		// enter postcode section is shown
		$('#select-postcode-1').show();
		// other stuff section is shown
		$('#other-stuff-1').show()
	});


	// button to search the address linked to the postcode entered is pressed
	$('#find-address-button-1').click(function (e) {
		// enter postcode section gets hidden
		$('#select-postcode-1').hide();
		// select address from the list section is shown
		$('#select-address-1').show();
		// other stuff section is shown
		$('#other-stuff-1').show()
	});




	// ADDRESS 2

	// button to add the address is pressed
	$('#add-address-button-2').click(function (e) {
		// select address type section gets hidden
		$('#select-type-2').hide();
		// enter email is shown
		$('#enter-email-2').show();
		// other stuff section is shown
		$('#other-stuff-2').show()
	});






</script>
{% endblock %}