{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
 {{ appnType | d('Transfer Not For Value and RX1') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber | d('DN1000') }}.

 Charge amount
{% endblock %}

{% block content %}

	<!-- application information  -->

	<div class="govuk-grid-row ap-no-row-l-r-margin">
		<div id="application-info-container">
			<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
	  		<h1 class="govuk-heading-m application-type">{{ appnType | d('Transfer Not For Value and RX1') }}</h1>

	  				<span class="govuk-body">ABR: </span><span class="abr govuk-body">{{ abrNumber | d('A123XYZ') }}</span>
	  				<span class="govuk-body">Title: </span><span class="title-number govuk-body">{{ titleNumber | d('DN1000') }}</span>

		  </div>

		  <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
		  	<p id="documents-launcher">
		      <a href="_document-viewer-b" class="govuk-link document-link js-documents-window" target="_blank">Application documents</a>
				</p>
			</div>
		</div>
	</div>

	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">

    	<form method="post">


			{{ govukBackLink({
				text: "Back",
				href: "07-address-b"
				}) }}

	      <h2 class="govuk-heading-l">Tasks</h2>

	    	<!-- tasks go here  -->



				<!-- borrower names -->
			  {{ govukRadios({
			    idPrefix: 'name-discrepancy',
			    name: 'name-discrepancy',
			    classes: 'govuk-radios--small govuk-radios--inline',
			    fieldset: {
			      legend: {
			        text: 'Do any existing entries need to be amended?',
			        classes: 'govuk-fieldset__legend--s'
			      }
			    },
			    items: [
			      {
			        html: 'Yes',
			        value: 'Yes',
			        checked: checked('name-discrepancy','Yes')
			      },
			      {
			        html: 'No',
			        value: 'No',
			        checked: checked('name-discrepancy','No')
			      }
			    ]
			  }) }}

				<!-- documents executed -->
			  {{ govukRadios({
			    idPrefix: 'transferor-discrepancies',
			    name: 'transferor-discrepancies',
			    classes: 'govuk-radios--small govuk-radios--inline',
			    fieldset: {
			      legend: {
			        html: 'Do any personal covenants or other entries need to be added?',
			        classes: 'govuk-fieldset__legend--s'
			      }
			    },
			    items: [
			      {
			        html: 'Yes',
			        value: 'Yes',
			        checked: checked('transferor-discrepancies','Yes')
			      },
			      {
			        html: 'No',
			        value: 'No',
			        checked: checked('transferor-discrepancies','No')
			      }
			    ]
			  }) }}


	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->

				<div class="task-lists-submit">
					<a href="index.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
						Next
						</a>
			    <a href="index.html" class="govuk-link reject-button">Return to workflow</a>
	 			</div>

		  </form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}