{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Address for service - round 2</h1>


    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="01-transferee-a.html">Scenario A </a>
      </li>

      <li>
        <a class="govuk-link" href="06-transferee-b.html">Scenario B</a>
      </li>




    </ul>











  </div>
</div>

{% endblock %}
