<div class="govuk-form-group 
{% if (data['add-info'] == null) %}
    govuk-form-group--error
{% endif %}">
    <fieldset class="govuk-fieldset"  
    {% if (data['add-info'] == null) %}
      aria-describedby="add-info-error"
    {% endif %}>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Do you need to add any additional information about the transferees?
        </h1>
      </legend>

      {% if (data['add-info'] == null) %}
        <p id="add-info-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you need to add any additional information about the transferees
        </p>
      {% endif %}       

      <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="yes-info" name="add-info" type="radio" value="yes" 
          {% if (data['add-info'] == 'yes') %}
              checked
          {% endif %}>
          <label class="govuk-label govuk-radios__label" for="yes-info">
            Yes 
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="no-info" name="add-info" type="radio" value="no" 
          {% if (data['add-info'] == 'no') %}
              checked
          {% endif %}>
          <label class="govuk-label govuk-radios__label" for="no-info">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
