{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Trailing information - prototype</h1>

      <p class="govuk-body">
        The functional prototpe:
      </p>

      <p class="govuk-body-l">
        <a href="./trailing-info_1-1" class="govuk-link govuk-link--no-visited-state">
          Go to the first page
        </a>
      </p>
          
  </div>
</div>

{% endblock %}
