{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Example text lorem ipsum') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../includes/inc_current-live-stylesheets-linked.html" %}
{% endblock %}

{% block header %}
    {% include "../includes/inc_current-live-header.html" %}
{% endblock %}


{% block content %}

{% include "../includes/inc_new-sub-header.html" %}

<div class="container-content">
        {% include "../includes/inc_container-register.html" %}

        <div id="tasks-content" class="container-tasks" tabindex="0">

                <a href="trailing-info_1-1.html" class="govuk-back-link">Previous</a>
                

            <h2 class="govuk-heading-m">Your tasks</h2>
            
<div class="govuk-notification-banner govuk-notification-banner__workflow-return" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner" aria-hidden="true" hidden="">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" >
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">      <p class="govuk-notification-banner__heading">Send to Workflow to complete this application</p></div>
</div>


          <div class="content">
    <form novalidate method="post" action="#">
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjU4M2FhMjk5MGEzOThjN2ZlYTNjOWQ1OTY3NzcxMGI4OTlmMmNjZjYi.ZR6JqA.YV8fnmdBd5XI_iFNzjwfommV-jU">

                <input id="CONFIRM-TRANSFEREE-APPLICANTS" name="CONFIRM-TRANSFEREE-APPLICANTS" type="hidden" value="">
    <input class="govuk-link remove-transferee-button remove-transferee-button__confirm-transferee-applicants" id="CONFIRM-TRANSFEREE-APPLICANTS_remove_transferee_0" name="CONFIRM-TRANSFEREE-APPLICANTS_remove_transferee_0" type="submit" value="Remove">
    
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="CONFIRM-TRANSFEREE-APPLICANTS_transferee-0-hint">
  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
      Transferee 1
  </legend>
  <!--div id="CONFIRM-TRANSFEREE-APPLICANTS_transferee-0-hint" class="govuk-hint">
    
  </div-->          

  <div class="govuk-radios  govuk-radios--small"    data-module="govuk-radios">
        <div class="govuk-radios__item">

          <input class="govuk-radios__input" id="private-individual-radio0" name="CONFIRM-TRANSFEREE-APPLICANTS_transferee-0" type="radio" value="PRIVATE_INDIVIDUAL" data-aria-controls="conditional-private-individual-radio0"{% if (data['CONFIRM-TRANSFEREE-APPLICANTS_transferee-0'] == 'PRIVATE_INDIVIDUAL') %}
          checked
        {% endif %}>
111111111111111111111
          <label class="govuk-label govuk-radios__label" for="private-individual-radio0">
        Private Individual
      </label>
        </div>
          <div class="govuk-radios__conditional" id="conditional-private-individual-radio0">
            <div class="govuk-form-group">
  <label class="govuk-label" for="forenames0">
    First name
  </label>
  <div id="forenames0-hint" class="govuk-hint">
    
  </div>
<input class="govuk-input  govuk-input--width-20" id="forenames0" name="forenames0" type="text" value="{{ data['forenames0'] }}" aria-describedby="forenames0-hint"></div>

<div class="govuk-form-group">
  <label class="govuk-label" for="surname0">
    Last name
  </label>
  <div id="surname0-hint" class="govuk-hint">
    
  </div>
<input class="govuk-input  govuk-input--width-20" id="surname0" name="surname0" type="text" value="{{ data['surname0'] }}" aria-describedby="surname0-hint"></div>


          </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="uk-company-radio0" name="CONFIRM-TRANSFEREE-APPLICANTS_transferee-0" type="radio" value="UK_COMPANY" data-aria-controls="conditional-uk-company-radio0"{% if (data['CONFIRM-TRANSFEREE-APPLICANTS_transferee-0'] == 'UK_COMPANY') %}
          checked
        {% endif %}>
        2222222222222222222222
          <label class="govuk-label govuk-radios__label" for="uk-company-radio0">
        UK Based Company
      </label>
        </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-uk-company-radio0">
            <div class="govuk-form-group">
  <label class="govuk-label" for="name0">
    Company Name
  </label>
  <div id="name0-hint" class="govuk-hint">
    
  </div>
<input class="govuk-input  govuk-input--width-20" id="name0" name="name0" type="text" aria-describedby="name0-hint"></div>

<div class="govuk-form-group">
  <label class="govuk-label" for="company_number0">
    Company Number
  </label>
  <div id="company_number0-hint" class="govuk-hint">
    Include any prefix, for example, NI or SC
  </div>
<input class="govuk-input  govuk-input--width-20" id="company_number0" name="company_number0" type="text" aria-describedby="company_number0-hint"></div>


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="cannot-find-company-number-0-hint">
  <div id="cannot-find-company-number-0-hint" class="govuk-hint govuk-!-display-none">
    
  </div>
  <div class="govuk-checkboxes govuk-checkboxes--small"    data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="cannot-find-company-number-0-option" name="cannot-find-company-number-0" type="checkbox" value="True">
            <label class="govuk-label govuk-checkboxes__label" for="cannot-find-company-number-0-option">
        I cannot find the company number
      </label>
          </div>
  </div>

</fieldset>

</div>

          </div>
  </div>

</fieldset>

</div>

    <input class="govuk-link remove-transferee-button remove-transferee-button__confirm-transferee-applicants" id="CONFIRM-TRANSFEREE-APPLICANTS_remove_transferee_1" name="CONFIRM-TRANSFEREE-APPLICANTS_remove_transferee_1" type="submit" value="Remove">
    
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="CONFIRM-TRANSFEREE-APPLICANTS_transferee-1-hint">
  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
      Transferee 2
  </legend>
  <div id="CONFIRM-TRANSFEREE-APPLICANTS_transferee-1-hint" class="govuk-hint">
    
  </div>
  <div class="govuk-radios  govuk-radios--small"    data-module="govuk-radios">
        <div class="govuk-radios__item">
          
          <input class="govuk-radios__input" id="private-individual-radio1" name="CONFIRM-TRANSFEREE-APPLICANTS_transferee-1" type="radio" value="PRIVATE_INDIVIDUAL" data-aria-controls="conditional-private-individual-radio1" data-aria-controls="conditional-uk-company-radio0" {% if (data['CONFIRM-TRANSFEREE-APPLICANTS_transferee-1'] == 'PRIVATE_INDIVIDUAL') %}
          checked
        {% endif %}>3333333333333333333
          <label class="govuk-label govuk-radios__label" for="private-individual-radio1">
            Private Individual
        </label>
        </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-private-individual-radio1">
            <div class="govuk-form-group">
  <label class="govuk-label" for="forenames1">
    First name
  </label>
  <div id="forenames1-hint" class="govuk-hint">
    <!-- empty hint text div and 'required' used on the input field? -->
  </div>
<input class="govuk-input  govuk-input--width-20" id="forenames1" name="forenames1" type="text" aria-describedby="forenames1-hint" value="{{ data['forenames1'] }}">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="surname1">
    Last name
  </label>
  <div id="surname1-hint" class="govuk-hint">
    <!-- empty hint text div and 'required' used on the input field? -->
  </div>
<input class="govuk-input  govuk-input--width-20" id="surname1" name="surname1" type="text" aria-describedby="surname1-hint" value="{{ data['surname1'] }}">
</div>


          </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="uk-company-radio1" name="CONFIRM-TRANSFEREE-APPLICANTS_transferee-1" type="radio" value="UK_COMPANY" data-aria-controls="conditional-uk-company-radio1"{% if (data['CONFIRM-TRANSFEREE-APPLICANTS_transferee-1'] == 'UK_COMPANY') %}
          checked
        {% endif %}>4444444444444444444444
          <label class="govuk-label govuk-radios__label" for="uk-company-radio1">
        UK Based Company
      </label>
        </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-uk-company-radio1">
            <div class="govuk-form-group">
  <label class="govuk-label" for="name1">
    Company Name
  </label>
  <div id="name1-hint" class="govuk-hint">
    
  </div>
<input class="govuk-input  govuk-input--width-20" id="name1" name="name1" type="text" aria-describedby="name1-hint"></div>

<div class="govuk-form-group">
  <label class="govuk-label" for="company_number1">
    Company Number
  </label>
  <div id="company_number1-hint" class="govuk-hint">
    Include any prefix, for example, NI or SC
  </div>
<input class="govuk-input  govuk-input--width-20" id="company_number1" name="company_number1" type="text" aria-describedby="company_number1-hint"></div>


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="cannot-find-company-number-1-hint">
  <div id="cannot-find-company-number-1-hint" class="govuk-hint govuk-!-display-none">
    
  </div>
  <div class="govuk-checkboxes govuk-checkboxes--small"    data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="cannot-find-company-number-1-option" name="cannot-find-company-number-1" type="checkbox" value="True">
            <label class="govuk-label govuk-checkboxes__label" for="cannot-find-company-number-1-option">
        I cannot find the company number
      </label>
          </div>
  </div>

</fieldset>

</div>

          </div>
  </div>

</fieldset>

</div>


    <input class="govuk-button govuk-button--dark" id="add_transferee_btn" name="add_transferee_btn" type="submit" value="Add transferee">


        <noscript>
            <input id="no_js_field" name="no_js_field" type="hidden" value="True">
        </noscript>
        <br>
        <div class="container-buttons-action">
            <!--  -->
            <button value="y" type="submit" name="submit_button" class="govuk-button" data-module="govuk-button" id="next-application-button">
  Next
</button>
            <a id="reject-application-button" class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-2" href="./ends.html">
                Return to Workflow

            </a>
        </div>
    </form>
          </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "../includes/inc_current-live-footer.html" %}

    <script>
        /* these scripts used just for this design prototype work */
        /*window.onload = (event) => {
            $('#CONFIRM-TRANSFEREE-APPLICANTS_add_transferee').on('click',function(e){
                e.preventDefault();//kill this for this design prototype on this page
            });

            $('#CONFIRM-TRANSFEREE-APPLICANTS_remove_transferee_0').add('#CONFIRM-TRANSFEREE-APPLICANTS_remove_transferee_1').on('click',function(e){
                e.preventDefault();//kill this functionality for this design prototype
            });
        };*/
    </script>
{% endblock %}