{% extends "layouts/ap-documentation.html" %}
{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: "Application Processing",
	  serviceUrl: "/transfer-defer"
	}) }}
{% endblock %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Charge evidence deferral demo</h1>

    <p><a target="_blank" href="/manage-prototype/clear-data">clear any saved data before using each prototype</a> (opens in new tab)</p>
		<p>Screens:</p>
		<ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v1z/00-worklist">Charge evidence</a>
      </li>
	</ul>


    </ul>


  </div>
</div>

{% endblock %}
