{% extends "layouts/ap-documentation.html" %}
{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: "Application Processing",
	  serviceUrl: "/transfer-defer"
	}) }}
{% endblock %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Round 1 user research links</h1>

    <p><a target="_blank" href="/manage-prototype/clear-data">clear any saved data before using each prototype</a> (opens in new tab)</p>

    <p>Scenarios:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v1a/00-worklist">A</a>
      </li>
    	<li>
        <a class="govuk-link" href="v1b/00-worklist">B</a>
      </li>
       <li>
        <a class="govuk-link" href="v1c/07-wrap-up">C</a>
      </li>
    	<li>
        <a class="govuk-link" href="v1d/07-wrap-up">D</a>
      </li>



    </ul>


  </div>
</div>

{% endblock %}
