<footer class="govuk-footer govuk-footer--hmlr ">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
              <ul class="govuk-footer__inline-list">
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/application-processing-ui/accessibility-statement">
                      Accessibility
                    </a>
                  </li>
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/application-processing-ui/cookies">
                      Cookies
                    </a>
                  </li>
                  <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="/application-processing-ui/feedback" target="_blank">
                      Make a suggestion to help us improve (opens in a new tab)
                    </a>
                  </li>
              </ul>
        </div>
        <div class="govuk-footer__meta-item">
            <img
            class="hmlr-footer__logo" width="172"
            alt="HM Land Registry Logo" src="/public/images/logos/logo-greyscale.png"
            >
        </div>
      </div>
    </div>
  </footer>