<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Do you need to add miscellaneous information?
        </h1>
      </legend>

      <div class="govuk-radios govuk-radios--small govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="yes-info" name="add-info" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="yes-info">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="no-info" name="add-info" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="no-info">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
