{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Charge

{% endblock %}

{% block content %}


  <!-- application information  -->
	{% include "./includes/application-info.html" %}
	<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">
      {{ govukBackLink({
        text: 'Back',
        href: '01-preliminary'
      }) }}

    	<form action="02-charge-amount" method="post">

	      <h2 class="govuk-heading-l">Tasks</h2>

	    	<!-- tasks go here  -->

	    	<!-- fee -->

	    	{{ govukRadios({
	        idPrefix: 'correct-fee',
	        name: 'correct-fee',
	        classes: ' govuk-radios--small govuk-radios--inline',
	        fieldset: {
	          legend: {
	            text: 'Has the correct fee been paid?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        hint: {
	          html: '<p><a class="govuk-link" href="#0">Open fee calculator</a></p>
	                <ul class="govuk-list govuk-list--bullet">
	                  <li>Fee paid: £30</li>
	                  <li>Channel: Business Gateway</li>
	                </ul>'
	        },
	        items: [
	          {
	            html: 'Yes',
	            value: 'Yes',
	            checked: checked('correct-fee','Yes')
	          },
	          {
	            html: 'No',
	            value: 'No',
	            checked: checked('correct-fee','No')
	          }
	        ]
	      }) }}

	      <!-- charge amount - GOVUK-ified ONS mutually exclusive -->
			  <div class="govuk-form-group">
			    <fieldset class="govuk-fieldset" role="group">
			      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" id="fieldset-legend-title">What is the amount secured by the charge?
			      </legend>

		        <div class="ons-js-mutually-exclusive">
		          <label class="govuk-label govuk-label--s xx-govuk-visually-hidden" for="charge-amount">Charge amount</label>

		          <div class="govuk-input__wrapper">
						    <div class="govuk-input__prefix" aria-hidden="true">£</div>
						    <input class="govuk-input govuk-input--width-10 ons-js-exclusive-group-item" id="charge-amount" name="charge-amount" type="text" spellcheck="false" value="{{ data['charge-amount'] }}">
						  </div>

							<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
								<div class="govuk-checkboxes__divider hmlr-checkboxes__divider--mutually-exclusive" aria-hidden="true">or</div>
					      <div class="govuk-checkboxes__item">
					        <input class="govuk-checkboxes__input ons-js-checkbox ons-js-exclusive-option" id="charge-undisclosed" name="charge-undisclosed" type="checkbox" value="undisclosed" data-deselect-message="Selecting this will clear the charge amount">
					        <label class="govuk-label govuk-checkboxes__label" for="charge-undisclosed">
					          <span class="govuk-visually-hidden">Or, </span> Undisclosed or 0
					        </label>
					      </div>
					    </div>

		          <span class="ons-js-exclusive-alert govuk-visually-hidden" role="alert" aria-live="polite" data-group-adjective="cleared" data-option-adjective="deselected"></span>

		        </div>

			    </fieldset>
				</div>

				<!-- charge date - GOVUK-ified ONS mutually exclusive -->
	      <div class="govuk-form-group govuk-!-margin-top-9">
	      	<fieldset class="govuk-fieldset" role="group">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What is the charge date?</legend>

				    <div class="ons-js-mutually-exclusive ons-mutually-exclusive">
				      <div class="govuk-date-input" id="charge-date">
				        <div class="govuk-date-input__item">
				          <div class="govuk-form-group">
				            <label class="govuk-label govuk-date-input__label" for="charge-date-day">
				              Day
				            </label>
				            <input class="govuk-input govuk-date-input__input govuk-input--width-2 ons-js-exclusive-group-item" value="21" id="charge-date-day" name="charge-date-day" type="text" inputmode="numeric" value="{{ data['charge-date-day'] }}">
				          </div>
				        </div>
				        <div class="govuk-date-input__item">
				          <div class="govuk-form-group">
				            <label class="govuk-label govuk-date-input__label" for="charge-date-month">
				              Month
				            </label>
				            <input class="govuk-input govuk-date-input__input govuk-input--width-2 ons-js-exclusive-group-item" value="08" id="charge-date-month" name="charge-date-month" type="text" inputmode="numeric" value="{{ data['charge-date-month'] }}">
				          </div>
				        </div>
				        <div class="govuk-date-input__item">
				          <div class="govuk-form-group">
				            <label class="govuk-label govuk-date-input__label" for="charge-date-year">
				              Year
				            </label>
				            <input class="govuk-input govuk-date-input__input govuk-input--width-4 ons-js-exclusive-group-item" value="2021" id="charge-date-year" name="charge-date-year" type="text" inputmode="numeric" value="{{ data['charge-date-year'] }}">
				          </div>
				        </div>
				      </div>


				      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
								<div class="govuk-checkboxes__divider hmlr-checkboxes__divider--mutually-exclusive" aria-hidden="true">or</div>

					      <div class="govuk-checkboxes__item">
					        <input class="govuk-checkboxes__input ons-js-checkbox ons-js-exclusive-option" id="charge-date-undisclosed" name="charge-date-undisclosed" type="checkbox" value="undisclosed" data-deselect-message="Selecting this will clear the date if one has been inputted">
					        <label class="govuk-label govuk-checkboxes__label" for="charge-date-undisclosed">
					        <span class="govuk-visually-hidden">Or, </span> No charge date
					        </label>
					      </div>
					    </div>

		       	  <span class="ons-js-exclusive-alert govuk-visually-hidden" role="alert" aria-live="polite" data-group-adjective="cleared" data-option-adjective="deselected"></span>

		       	</div>

			    </fieldset>
	  		</div>


	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->
				<div class="task-lists-submit">
					<button class="govuk-button" data-module="govuk-button">
						Next
					</button>
					<a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
				</div>

			</form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
