

<!DOCTYPE html>
<html lang="en" class="govuk-template apui apui--layout-main">
  <head>
    <meta charset="utf-8">
    <title>AP - Charge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Application Processing">
  <meta name="keywords" content="">
  <meta name="author" content="HM Land Registry">
  

  <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />

  <link href="./includes/as-live-css.scss" rel="stylesheet" type="text/css" />
  
  <link href="/public/css/font.css" rel="stylesheet" type="text/css" />


  </head>
  <body class="govuk-template__body apui-container-body--layout-main">
    xxxxxxxxxxxx
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      <a href="#tasks-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>



  <header class="govuk-header govuk-header--hmlr govuk-header--fixed" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content govuk-header__content--hmlr">
      <span class="govuk-header__service-name">
        Application Processing
      </span>
    </div>
  </div>
</header>


    <header class="apui-header govuk-header govuk-header--hmlr govuk-header--layout-main" data-module="govuk-header" >
    <div class="govuk-header__container govuk-width-container">
      <h1 class="apui-header-title govuk-heading-m">Charge</h1>
      <span class="apui-header-number-title govuk-body">
        Title number:
        <span class="govuk-!-font-weight-bold">GR579029</span>
      </span>
      <span class="apui-header-number-abr govuk-body">
        ABR number:
        <span class="govuk-!-font-weight-bold">V571PRW</span>
      </span>
      <span class="text-right overflow-hidden truncate apui-header-document-container">
          <a target="_blank" class="govuk-link" href="/application-processing-ui/casework/documents/200121472" id="open-all-documents" title="Open all documents (opens in a new tab)">Open all documents (opens in a new tab)</a>
      </span>
    </div>
  </header>


      <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content">
    <div class="container-content">
    <div class="container-register" tabindex="0">
        <h2 class="govuk-heading-m">Register</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-s hmlr-heading-s">
            A: PROPERTY REGISTER
        </h3>
        <ul class="govuk-list register-container-entry mb-0 pb-0" id="register-container-entry-A" >
                <li >

                            <span class="register-line-container"
        data-entry-id="2019-06-17T13:36:32.23245"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-A-1-0" id="register-line-A-1-0" class="register-line">                                                                         </span
    ></span>


                            <span class="register-line-container"
        data-entry-id="2019-06-17T13:36:32.23245"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-A-1-1" id="register-line-A-1-1" class="register-line">                       GLOUCESTERSHIRE : GLOUCESTER                      </span
    ></span>


                            <span class="register-line-container"
        data-entry-id="2019-06-17T13:36:32.23245"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-A-1-2" id="register-line-A-1-2" class="register-line">                                                                         </span
    ></span>


                            <span class="register-line-container register-pill-container"
                                data-entry-id="2019-06-17T13:36:32.23245" aria-hidden="true" hidden><span class="register-line-pre">1. </span
                                ><span class="register-line register-line--pill"><span class="register-line-highlight-pill">REMOVING</span></span
                            ></span>
                            <span class="register-line-container"
        data-entry-id="2019-06-17T13:36:32.23245"><span class="register-line-pre">1. </span
        ><span data-test-id="register-line-A-1-3" id="register-line-A-1-3" class="register-line">(17 June 2019) The Freehold land shown edged with red on the plan of the </span
    ></span>


                            <span class="register-line-container"
        data-entry-id="2019-06-17T13:36:32.23245"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-A-1-4" id="register-line-A-1-4" class="register-line">above title filed at the Registry and being 128 Lavington Drive,         </span
    ></span>


                            <span class="register-line-container"
        data-entry-id="2019-06-17T13:36:32.23245"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-A-1-5" id="register-line-A-1-5" class="register-line">Longlevens, Gloucester (GL2 0HT).                                        </span
    ></span>

                </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-s hmlr-heading-s">
            B: PROPRIETORSHIP REGISTER
        </h3>
        <ul class="govuk-list register-container-entry mb-0 pb-0" id="register-container-entry-B" >
                <li >

                            <span class="register-line-container"
        data-entry-id="2023-10-04T14:45:44.94243"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-B-1-0" id="register-line-B-1-0" class="register-line">                                                                         </span
    ></span>


                            <span class="register-line-container register-pill-container"
                                data-entry-id="2023-10-04T14:45:44.94243" aria-hidden="true" hidden><span class="register-line-pre">1. </span
                                ><span class="register-line register-line--pill"><span class="register-line-highlight-pill">REMOVING</span></span
                            ></span>
                            <span class="register-line-container"
        data-entry-id="2023-10-04T14:45:44.94243"><span class="register-line-pre">1. </span
        ><span data-test-id="register-line-B-1-1" id="register-line-B-1-1" class="register-line">(17 August 2023) PROPRIETOR: %RICHARD RAT% and %RACHEL RAT% of Flat 2,   </span
    ></span>


                            <span class="register-line-container"
        data-entry-id="2023-10-04T14:45:44.94243"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-B-1-2" id="register-line-B-1-2" class="register-line">Marsh House, Alphington Road, *Exeter* EX2 8JD.                          </span
    ></span>

                </li>
                <li >

                            <span class="register-line-container"
        data-entry-id="2023-08-17T10:53:38.218063"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-B-2-0" id="register-line-B-2-0" class="register-line">                                                                         </span
    ></span>


                            <span class="register-line-container register-pill-container"
                                data-entry-id="2023-08-17T10:53:38.218063" aria-hidden="true" hidden><span class="register-line-pre">2. </span
                                ><span class="register-line register-line--pill"><span class="register-line-highlight-pill">REMOVING</span></span
                            ></span>
                            <span class="register-line-container"
        data-entry-id="2023-08-17T10:53:38.218063"><span class="register-line-pre">2. </span
        ><span data-test-id="register-line-B-2-1" id="register-line-B-2-1" class="register-line">(17 August 2023) The price stated to have been paid on 10 August 2023 was</span
    ></span>


                            <span class="register-line-container"
        data-entry-id="2023-08-17T10:53:38.218063"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-B-2-2" id="register-line-B-2-2" class="register-line">£200,000.                                                                </span
    ></span>

                </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-s hmlr-heading-s">
            C: CHARGES REGISTER
        </h3>
        <ul class="govuk-list register-container-entry mb-0 pb-0" id="register-container-entry-C" >
                <li >

                            <span class="register-line-container"
        data-entry-id="2023-06-27T15:02:22.641626"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-C-1-0" id="register-line-C-1-0" class="register-line">                                                                         </span
    ></span>


                            <span class="register-line-container register-pill-container"
                                data-entry-id="2023-06-27T15:02:22.641626" aria-hidden="true" hidden><span class="register-line-pre">1. </span
                                ><span class="register-line register-line--pill"><span class="register-line-highlight-pill">REMOVING</span></span
                            ></span>
                            <span class="register-line-container"
        data-entry-id="2023-06-27T15:02:22.641626"><span class="register-line-pre">1. </span
        ><span data-test-id="register-line-C-1-1" id="register-line-C-1-1" class="register-line">(27 June 2023) REGISTERED CHARGE dated 22 June 2023.                     </span
    ></span>

                </li>
                <li >

                            <span class="register-line-container"
        data-entry-id="2023-06-27T15:02:22.642883"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-C-2-0" id="register-line-C-2-0" class="register-line">                                                                         </span
    ></span>


                            <span class="register-line-container register-pill-container"
                                data-entry-id="2023-06-27T15:02:22.642883" aria-hidden="true" hidden><span class="register-line-pre">2. </span
                                ><span class="register-line register-line--pill"><span class="register-line-highlight-pill">REMOVING</span></span
                            ></span>
                            <span class="register-line-container"
        data-entry-id="2023-06-27T15:02:22.642883"><span class="register-line-pre">2. </span
        ><span data-test-id="register-line-C-2-1" id="register-line-C-2-1" class="register-line">(27 June 2023) Proprietor: #CAPITAL BANK MORTGAGES LTD# (Co. Regn. No.   </span
    ></span>


                            <span class="register-line-container"
        data-entry-id="2023-06-27T15:02:22.642883"><span class="register-line-pre"> </span
        ><span data-test-id="register-line-C-2-2" id="register-line-C-2-2" class="register-line">2999410) of Thistle House, City Road, Chester CH88 3AN.                  </span
    ></span>

                </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>

        <div id="tasks-content" class="container-tasks" tabindex="0">

                <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Verified by automation
    </span>
  </summary>
  <div class="govuk-details__text">
                <p class="govuk-body govuk-!-margin-bottom-6">You do not need to check these details.</p>
                    <div class="verified-grid">
                                <div>
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Daylist</h3>
                                    <ul>
                                                <li class="govuk-list govuk-list--bullet">
                                                    No official searches
                                                </li>
                                                <li class="govuk-list govuk-list--bullet">
                                                    No prior applications
                                                </li>
                                                <li class="govuk-list govuk-list--bullet">
                                                    No stops
                                                </li>
                                                <li class="govuk-list govuk-list--bullet">
                                                    Not a closed title
                                                </li>
                                                <li class="govuk-list govuk-list--bullet">
                                                    Not a development title
                                                </li>
                                    </ul>
                                </div>
                                <div>
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Register</h3>
                                    <ul>
                                                <li class="govuk-list govuk-list--bullet">
                                                    No catching restrictions
                                                </li>
                                    </ul>
                                </div>
                                <div>
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Application</h3>
                                    <ul>
                                                <li class="govuk-list govuk-list--bullet">
                                                    Correct fee has been paid
                                                </li>
                                                <li class="govuk-list govuk-list--bullet">
                                                    Customer details match
                                                </li>
                                                <li class="govuk-list govuk-list--bullet">
                                                    All borrower names match
                                                </li>
                                    </ul>
                                </div>
                    </div>

  </div>
</details>


              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-m">Your tasks</h2>
            
<div class="govuk-notification-banner govuk-notification-banner__workflow-return" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner" aria-hidden="true" hidden="">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" >
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">      <p class="govuk-notification-banner__heading">Send to Workflow to complete this application</p></div>
</div>


          <div class="content">
    <form novalidate method="post">
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjU4M2FhMjk5MGEzOThjN2ZlYTNjOWQ1OTY3NzcxMGI4OTlmMmNjZjYi.ZR6EHQ.qOZvN1lXQy5plwAZYxzIbKxG-Lo">

                
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="confirm-property-genericradiogroup-hint">
  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
      Are the documents for the right property and title number?
  </legend>
  <div id="confirm-property-genericradiogroup-hint" class="govuk-hint">
    
  </div>
  <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-workflow="confirm-property-genericradiogroup:False"    data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="confirm-property-yes" name="confirm-property-genericradiogroup" type="radio" value="True">
          <label class="govuk-label govuk-radios__label" for="confirm-property-yes">
        Yes
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="confirm-property-no" name="confirm-property-genericradiogroup" type="radio" value="False">
          <label class="govuk-label govuk-radios__label" for="confirm-property-no">
        No
      </label>
        </div>
  </div>

</fieldset>

</div>


                
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="confirm-id-panels-genericradiogroup-hint">
  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
      Are the identity panels filled out correctly?
  </legend>
  <div id="confirm-id-panels-genericradiogroup-hint" class="govuk-hint">
    
  </div>
  <div class="govuk-radios govuk-radios--inline govuk-radios--small"    data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="confirm-id-panels-yes" name="confirm-id-panels-genericradiogroup" type="radio" value="True">
          <label class="govuk-label govuk-radios__label" for="confirm-id-panels-yes">
        Yes
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="confirm-id-panels-no" name="confirm-id-panels-genericradiogroup" type="radio" value="False">
          <label class="govuk-label govuk-radios__label" for="confirm-id-panels-no">
        No
      </label>
        </div>
  </div>

</fieldset>

</div>


                
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="validate-conveyancer-genericradiogroup-hint">
  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
      Has the application been lodged by a conveyancer?
  </legend>
  <div id="validate-conveyancer-genericradiogroup-hint" class="govuk-hint">
    
  </div>
  <div class="govuk-radios govuk-radios--inline govuk-radios--small"    data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="validate-conveyancer-yes" name="validate-conveyancer-genericradiogroup" type="radio" value="True">
          <label class="govuk-label govuk-radios__label" for="validate-conveyancer-yes">
        Yes
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="validate-conveyancer-no" name="validate-conveyancer-genericradiogroup" type="radio" value="False">
          <label class="govuk-label govuk-radios__label" for="validate-conveyancer-no">
        No
      </label>
        </div>
  </div>

</fieldset>

</div>



        <noscript>
            <input id="no_js_field" name="no_js_field" type="hidden" value="True">
        </noscript>
        <br>
        <div class="container-buttons-action">
            <!--  -->
            <button value="y" type="submit" name="submit_button" class="govuk-button" data-module="govuk-button" id="next-application-button">
  Next
</button>
            <a id="reject-application-button" class="govuk-link govuk-!-margin-left-2" href="/application-processing-ui/casework/workflow/200121472">Return to Workflow</a>
        </div>
    </form>
          </div>
        </div>
    </div>
        </main>
      </div>

  <footer class="govuk-footer govuk-footer--hmlr ">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/application-processing-ui/accessibility-statement">
                    Accessibility
                  </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/application-processing-ui/cookies">
                    Cookies
                  </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/application-processing-ui/feedback" target="_blank">
                    Make a suggestion to help us improve (opens in a new tab)
                  </a>
                </li>
            </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <img
          class="hmlr-footer__logo"
          alt="HM Land Registry Logo" src="/application-processing-ui/assets/images/hmlr-logo-grey.svg"
        >
      </div>
    </div>
  </div>
</footer>


  <!--[if gt IE 8]><!-->

  <!--<![endif]-->
  </body>
</html>