{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Trailing information - Option 1.3</h1>

      <p class="govuk-body-l">
        <a href="./trailing-info_1-1" class="govuk-link govuk-link--no-visited-state">
          Go to the first page
        </a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Flat <abbr>HTML</abbr> design and user journey pages created</li>
        <li>Changes to label and hint text are expected</li>
        <li>Flat <abbr>HTML</abbr> pages showing form validation messages to be created</li>
        <li>Content designer to review language</li>
        <li>Fully functional prototype to be created for <abbr>UR</abbr></li>
      </ul>      

          
      <details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design history notes
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body-s">
            20 November 2023:
          </p>

          <p class="govuk-body-s">
            We need to understand what kind of validation will be applied to the main misc info textarea (input field); is there any form of parsing/filtering to stop case workers inputting any manner of inappropriate information?
          </p>          

          <p class="govuk-body-s">
            15 October 2023:
          </p>
    
          <p class="govuk-body-s">
            Option 1.3: This is the preferred option. It integrates smoothly with the established flow. Its core Yes or No option/question can be moved easily to accommodate future changes to the flow as and when additional functionality is added (with increasing data input options being ported from CORA). (Lots of user research and resource already invested in the current flow for option 2 – significantly different method of approaching the functionality – to be invalid).
          </p>

          <p class="govuk-body-s">
            For this piece of design work we attempted to recreate how the 'live' service currently appears (for a smoother transfer of new form designs, ensuring that they work in the actual enviroment and can be followed accurately. 'Live' is currently in transistion to the 'new' <abbr>AP</abbr> design aesthetic). <i>There are small discrepancies with live and these design pages.</i>
          </p>          

          <p class="govuk-body-s">
            An additional 'hint' text statement added to the first page to encourage users to add as many transferees as possible at the start of this combined journey. 
          </p>
    
          <p class="govuk-body-s">
            Where the user is served confirmation that the misc info has been added the page reminds the user which misc info (and related names) has been added. (These are added to the bottom of any list – to keep the numbering consistent). This design is a derivation on the new <abbr>GDS</abbr> summary cards … these summary cards are compromised when used on our grey page background, so this subtle adjustment is a way to resolve this. Using this list is a convenient way of resolving width issues in the limited screen real-estate when resizing the window. (This design is something I have used and tested previously, and a standalone matching version could also be created as a wrapper for chunking info). This to be discussed with the wider UCD (with the current table design – as used for addresses – fallback option). 
          </p>   
          
          <p class="govuk-body-s">
            Form validation prototype pages are work in progress. Content design revisions – for language – to follow. New flow to be captured in Figma.
          </p>       
    
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
          <p class="govuk-body-s">
            Notes: This is not a fully functional prototype (yet), and is a series of clickable design prototypes/assets - without form validation and with some links/buttons disabled. They use <abbr>HTML</abbr> recently supplied from the live/active service (and which have been updated where appropriate to reflect the <a href="https://www.figma.com/file/GKCRa50e9Be50v2fozvAhz/Address-for-service?type=design&node-id=634%3A43308&mode=design&t=9XP2DAeDhK9Azqac-1" class="govuk-link govuk-link--no-visited-state" target="_blank">latest designs (opens in a new tab)</a> as shown in Figma - 'Final designs: enter <abbr>UK</abbr> postal addresses'). 
          </p>
        </div>
      </details>




  </div>
</div>

{% endblock %}
