{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
{{ appnType | d('Example text lorem ipsum') }}, ABR: {{ abrNumber | d('A123XYZ') }}, Title Number: {{ titleNumber
| d('DN1000') }}.

Validity checks
{% endblock %}

{% block stylesheets %}
	{% include "../includes/inc_current-live-stylesheets-linked.html" %}
{% endblock %}

{% block header %}
    {% include "../includes/inc_current-live-header.html" %}
{% endblock %}

{% block content %}

{% include "../includes/inc_new-sub-header.html" %}

<div class="container-content">
    {% include "../includes/inc_container-register.html" %}

    <div id="tasks-content" class="container-tasks" tabindex="0">

      <a href="trailing-info_1-4.html" id="previous-link" class="govuk-back-link">Previous page</a>

      <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-7" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading govuk-!-font-size-19">
            The miscellaneous information was removed
          </h3>
          <!--p class="govuk-body">The transferees were added to the lorem ipsum dolor ab iure expedita incidunt.</p-->
        </div>
      </div>

      <div class="content">

        

        <div class="govuk-summary-card hmlr-summary-card--on-grey">
          <div class="govuk-summary-card__title-wrapper">
            <h1 class="govuk-summary-card__title govuk-!-margin-bottom-0">Added</h1>
          </div>

          <p class="govuk-body govuk-visually-hidden">
            This is the list of trailing information already added.
          </p>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row govuk-!-font-size-16">
                <dt class="govuk-summary-list__key">
                  <span title="Miscellaneous information">Misc info 1</span>
                </dt>
                <dd class="govuk-summary-list__value">
                  <span class="govuk-!-display-inline-block govuk-!-margin-bottom-3">Executor [Administrator] of Jane Richards deceased.</span>

                  <span class="govuk-!-display-inline-block">Jane Richards</span>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Remove<span class="govuk-visually-hidden"> miscellaneous information 1</span>
                  </a>
                </dd>
              </div>

             

            </dl>
          </div>
        </div>        

        <form id="theForm" novalidate method="post" action="ends">

          <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

          {% include "../includes/inc_add-misc-info-question.html" %}       

          <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

                    


          <!-- correct GDS HTML for button + link used on this page -->
          <div class="govuk-button-group govuk-!-margin-top-8">
            <button class="govuk-button" data-module="govuk-button">
              Next
            </button>
            <a class="govuk-link govuk-link--no-visited-state" id="reject-application-button" href="trailing-info_1-3.html">
              Cancel adding this miscellaneous information
            </a>
          </div>

           
        </form>
      </div>

    </div>

</div>
{% endblock %}

{% block footer %}
    {% include "../includes/inc_current-live-footer.html" %}


    <script>
      /* these js scripts just used for this basic design prototype mockup */
        window.onload = (event) => {

            $("#theForm").submit(function(e){
                
                var yesOrNo = $("input:radio[name ='add-info']:checked").val();

                if(!yesOrNo){
                  e.preventDefault(); 
                }else if(yesOrNo == 'yes'){
                    e.preventDefault();
                    window.location.href = 'trailing-info_1-4.html';
                }else if(yesOrNo == 'no'){
                    e.preventDefault();
                    window.location.href = 'ends.html';
                }
            }); 

            $('#TRANSFEREE-ADDRESSES-add-address').on('click', function(e){
              e.preventDefault();
              window.location.href = 'trailing-info_1-1.html';
            });

            //$('#previous-link').on('click',function(e){
                //history.back();//used just for this prototype design page as this pg can be arrived at from different versions of the first page
            //});
        };
    </script>
{% endblock %}