{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Transfer - deferral for discharges - IC6 PROM-122</h1>

    <p class="govuk-body">When an application does not include evidence of discharge, and we need to request it because there are restrictions in the register, a caseworker:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>will know evidence is required</li>
      <li>will write a requisition letter (C90), if this is the only reason to requisition</li>
      <li>use legacy system PC Corres to write the letter</li>
    </ul>

    <p class="govuk-body">the system will:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>add a PAS note, allowing the application to be stored until the evidence is received</li>
    	<li>put the application in a new 'pot' (category of work) to be picked up for evidence to be checked</li>
    	<li>run all the business rules again, to see if anything else has changed</li>
    </ul>

    <p class="govuk-body">A different caseworker (almost certainly):</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>will pick up the application</li>
      <li>check the evidence (electronic discharge via the daylist)</li>
      <li>do any additional tasks required - if circumstances have changed (Business rules will establish this)</li>
      <li>complete the application - markoff, or send it to legacy processing</li>
    </ul>

    <h2 class="govuk-heading-l">Round 3 prototypes for user research</h2>

    <p class="govuk-body">Add notes about what we want to learn and links to figma files and research plan and output</p>

    <p>view prototypes:</p>

    <p><a href="/transfer-defer/r3-index">link for user research</a></p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v3a/00-worklist">A - process application 2nd pass</a><br>
        Scenario A: Complete application post evidence of discharge received.  Check discharge, doc retention. Question reworded from round 2.
      </li>
    	<li>
        <a class="govuk-link" href="v3b/00-worklist">B - process application 1st pass</a><br>
        Scenario B: No doc retention, one requistion point - evidence of discharge. 'Correspondence' at the end of the final page. Additional transaction question tweaked.
      </li>
      <li>
        <a class="govuk-link" href="v3c/07-wrap-up">C - short flow</a><br>
        Scenario C: Short flow version of scenario B with alternate wording for additional transaction. More specific to discharges.
      </li>
    	<li>
        <a class="govuk-link" href="v3d/07-wrap-up">D - short flow</a><br>
        Scenario D: Short flow of first pass with 'requisition' question. A research prompt, not necessarily a viable design solution.
      </li>

    </ul>

		<h2 class="govuk-heading-m">Round 2 prototypes for user research</h2>

    <p class="govuk-body">Add notes about what we want to learn and links to figma files and research plan and output</p>

    <p>view prototypes:</p>

    <p><a href="r2-index">link for user research</a></p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v2a/00-worklist">2a - process application 1st attempt</a><br>
        Scenario A: No doc retention, one requisition point, requisition and notices page at end of flow (conditional page - but proto always shows it)
      </li>
    	<li>
        <a class="govuk-link" href="v2b/00-worklist">2b - process application 1st attempt</a><br>
        Scenario B: No doc retention, two requisition points, 'Send a requisition' button every page
      </li>
      <li>
        <a class="govuk-link" href="v2b/alt-permanent-corres-link">alternate 2b for discussion</a><br>
        alternate Scenario B: No doc retention, two requisition points, 'PC Corres' permanently available on the last page
      </li>
    	<li>
        <a class="govuk-link" href="v2c/00-worklist">2c - process application 2nd attempt</a><br>
        Scenario C: complete application post evidence of discharge received.  Check discharge, doc retention.
      </li>

    </ul>

    <h2 class="govuk-heading-m">Round 1 prototypes for user research</h2>

    <p class="govuk-body">Add notes about what we want to learn and links to figma files and research plan and output</p>

    <p>view prototypes:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v1a/00-worklist">1a - process application 1st attempt</a><br>
        Scenario A: No doc retention, one requisition point, requisition link at end of flow
      </li>
    	<li>
        <a class="govuk-link" href="v1b/00-worklist">1b - process application 1st attempt</a><br>
        Scenario B: No doc retention, two requisition points, PC corres button every page
      </li>
    	<li>
        <a class="govuk-link" href="v1c/00-worklist">1c - process application 2nd attempt</a><br>
        Scenario C: complete application post evidence of discharge received.  Check discharge, doc retention
      </li>

    </ul>


  </div>
</div>

{% endblock %}
