{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Round 3 user research links</h1>

    <p><a target="_blank" href="/manage-prototype/clear-data">clear any saved data before using each prototype</a> (opens in new tab)</p>

    <p>Scenarios:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="v3a/06-discharge">A</a>
      </li>
    	<li>
        <a class="govuk-link" href="v3b/00-worklist">B</a>
      </li>
       <li>
        <a class="govuk-link" href="v3c/07-wrap-up">C</a>
      </li>
    	<li>
        <a class="govuk-link" href="v3d/07-wrap-up">D</a>
      </li>



    </ul>


  </div>
</div>

{% endblock %}
