{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


	<!-- application information  -->

	<div class="govuk-grid-row ap-no-row-l-r-margin">
		<div id="application-info-container">
			<div class="govuk-grid-column-three-quarters ap-no-column-l-r-padding">
	  		<h1 class="govuk-heading-m application-type">Charge and RX1</h1>

	  				<span class="govuk-body">ABR: </span><span class="abr govuk-body">123456</span>
	  				<span class="govuk-body">Title: </span><span class="title-number govuk-body">EX365565</span>

		  </div>

		  <div class="govuk-grid-column-one-quarter ap-no-column-r-padding">
		  	<p id="documents-launcher">
		      <a href="_document-viewer" class="govuk-link document-link js-documents-window" target="_blank">Application documents</a>
				</p>
			</div>
		</div>
	</div>

	<!-- end - application information  -->

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">


    <h2 class="govuk-heading-l">Tasks</h2>


      {{ govukRadios({
        idPrefix: 'customer-match',
        name: 'customer-match',
        classes: 'js-no-return-to-workflow / govuk-radios--small govuk-radios--inline',
        fieldset: {
          legend: {
            html: 'Do following customer details match documents?',
            classes: 'govuk-fieldset__legend--s'
          }
        },
        hint: {
          html: '<br><p>
                	<a class="govuk-link" href="#">Check Daylist</a> for customer details
                </p>'
        },
        items: [
          {
            html: 'Yes',
            value: 'Yes',
            checked: checked('customer-match','Yes')
          },
          {
            html: 'No',
            value: 'No',
            checked: checked('customer-match','No')
          }
        ]
      }) }}

    <!-- Button -->


    <button class="govuk-button" data-module="govuk-button">
      Next
    </button>



  </div>

</div>

{% endblock %}