{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Application Processing - system messages
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">System messages</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="https://design-system.service.gov.uk/components/error-message/">Error messages</a> and <a class="govuk-link" href="https://design-system.service.gov.uk/components/error-summary/">Error summary</a> <p> As per the Gov design system </p>
      </li>

      <li>
        <a class="govuk-link" href="send-to-workflow-error">System is unable to send the application to Workflow</a> <p>(i.e. the microservice that performs that action is not responding)</p>
      </li>

      <li>
        <a class="govuk-link" href="preliminary-page-eligibility">Application cannot be processed in AP</a> <p>On the preminiary questions page, one of the tasks has a negative response which prevents drafting. It should go to Workflow to be investigated/rejected/requisitioned in legacy systems.</p>
      </li>

      <li>
        <a class="govuk-link" href="fee">Fee details can't be loaded</a>.
        <p>Link to check the information in Daylist if the details can't be loaded.</p>
      </li>

      <li>
        <a class="govuk-link" href="customer-details">Customer details can't be loaded</a>. <p>Link to check the information in Daylist if the details can't be loaded.</p>
      </li>

      <li>
        <a class="govuk-link" href="register">Register can't be loaded</a>. <p>Relead register link, and link to check the information in Daylist if the details can't be loaded.</p>
      </li>
    </ul>


  </div>
</div>

{% endblock %}
