{% extends "layouts/ap-main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>

	/* ********************************** */
	/* arial as default font on all elements */
	/* ********************************** */
  * {
  font-family: Arial, Helvetica, sans-serif !important;
	}
	/* * end block * */

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">System messages</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="https://design-system.service.gov.uk/components/error-message/">Error messages</a> and <a class="govuk-link" href="https://design-system.service.gov.uk/components/error-summary/">Error summary</a> - as per the Gov design system
      </li>

      <li>
        <a class="govuk-link" href="send-to-workflow-error">system is unable to send the application to workflow</a> (i.e. the microservice that performs that action is not responding)
        <br>- not yet tested with caseworkers
      </li>

      <li>
        <a class="govuk-link" href="preliminary-page-eligibility">application cannot be processed in AP</a>. On the preminiary questions page, No to one of the answers that means we dont want to start drafting, it should go to workflow to be investigated/rejected/requisitioned in legacy systems
        <br>- not yet tested with caseworkers
      </li>

      <li>
        <a class="govuk-link" href="fee">fee details can't be loaded</a>. We can tell caseworkers to check the information in Daylist
        <br>- not yet tested with caseworkers
      </li>

      <li>
        <a class="govuk-link" href="customer-details">customer details can't be loaded</a>. We can tell caseworkers to check the information in Daylist
        <br>- not yet tested with caseworkers
      </li>

      <li>
        <a class="govuk-link" href="register">register can't be loaded</a>. Relead register link, anbd tell caseworkers tthey can also check it in Daylist
        <br>- not yet tested with caseworkers
      </li>
    </ul>


  </div>
</div>

{% endblock %}
