{% extends "layouts/ap-main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>Design experiments and documentation for UI technology re-write to python/flask</p>

    <h2 class="govuk-heading-l">Scope of UI re-write</h2>

    <p>Technical UI re-write, into python/Flask, from react.</p>
    <p>Limit the number of UI changes.  This is about keeping as much as-is from the current UI, and the tech re-write brings the UI up to current HMLR code and design standards.  It removes existing constraints that have limited user features, so new work post re-write can be done without working round the constraints.</p>
  	<p>UI changes are limited to those required by: </p>
    <ul class="govuk-list govuk-list--bullet">
    	<li>migrating to python/flask - some ui features may be difficult to migrate as-is from react.  Where this is the case we'll redesign the ui feature to make it easy to implement</li>
      <li>following common HMLR code and design standards - progressive enhancement, using gov components out of the box</li>        
      <li>fixing accessibilty failures in the current UI</li>
      <li>minimising rework.  Make some design changes - thats are considered to be foundational - for example responsive page layout - to avoid complex rework once all the UI features have been migrated</li>
    </ul>


    <h2 class="govuk-heading-l">UI documentation</h2>

		<p>Final designs</p>
    <p>Tested with users (where noted)</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li><a href="complete/system-messages/">system messages</a></li>

    </ul>


    <h2 class="govuk-heading-l">Experiments</h2>

    <p>Exploring ideas. Use for ideation and testing with users.</p>

    <p>page layouts</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li><a href="experiments/page-templates/confirmation-page-blank">confirmation page - blank</a></li>
    	<li><a href="experiments/">Lorenzo and Puneets noodling</a></li>
    	<li><a href="experiments/andy/">Andy noodling</a></li>
    </ul>

  </div>
</div>

{% endblock %}
