{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Application Processing UI technical rewrite prototype
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>Design experiments and documentation for UI technology re-write to python/flask</p>

    <p>This prototype will gradually replace the <a href="https://hmlr-application-processing.herokuapp.com/">current prototype</a></p>


    <h2 class="govuk-heading-l">Making pages in this kit</h2>

    <p>this kit is based on the Gov prototype kit.</p>

    <h3 class="govuk-heading-m">Getting started</h3>
    <p>Copy the <a href="example-flow/">Example (starter) flow</a>.</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li>Copy that into a new folder in views, and call the folder what you want</li>
    	<li>add a route to the main routes file (app/routes.js) - a route that looks at the folder you just created.  see lines 12 to 19 to see what to copy.  replace /example-flow with your folder name</li>
    	<li>inside your views folder make the versions of your prototype, make folders names v1, v2 etc.</li>
    	<li>everything required to make a flow is contained in the example flow...</li>
    	<li>Use the notes within the code of the example flow to make your own flow</li>
    </ul>

    <h3 class="govuk-heading-m">How the template (example) flow has been made</h3>

    <h4 class="govuk-heading-s">3 page layouts</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>documentation page - use <code>&#123;&#37; extends "layouts/ap-documentation.html" &#37;&#125;</code> at the top of your page</li>
			<li>wide page, the two column, register and task page - use <code>&#123;&#37; extends "layouts/ap-flow-wide.html" &#37;&#125;</code> at the top of your page</li>
		  <li>regular width page, like confirmation - use <code>&#123;&#37; extends "layouts/ap-flow-regular.html" &#37;&#125;</code> at the top of your page</li>
    </ul>

    <h4 class="govuk-heading-s">css</h4>
    <p>There are 4 css files, refactoring is needed as there is duplication.  Using the 3 layouts will load the correct css.  If you need to add something, consider adding it to the 2 css files - regular and wide - for the two page width layouts we have</p>

    <h4 class="govuk-heading-s">JavaScript</h4>
    <p>any JS needed by more than one page, you can get the template to load the scripts.  Add a line to the <code>/include/scripts.html</code> file.</p>


    <h2 class="govuk-heading-l">new UI documentation</h2>

    <p>Final designs</p>
    <p>Tested with users (where noted)</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="complete/system-messages/">system messages</a></li>
      <li><a href="complete/confirmation-pages/">confirmation pages</a></li>
    </ul>


    <h3 class="govuk-heading-m">Experiments</h3>

    <p>Exploring ideas. Use for ideation and testing with users.</p>

    <p>page layouts</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="experiments/page-templates/confirmation-page-blank">confirmation page - blank</a></li>
      <li><a href="experiments/">Lorenzo and Puneets noodling</a></li>
      <li><a href="experiments/andy/">Andy noodling</a></li>
    </ul>

    <h2 class="govuk-heading-l">Work to do in this prototype</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>add all new designs from production - things Phoenix have made - make the prototype styled the same, behave the same, and contains the components</li>
      <li>document the new components, and behaviour - so designers can make new flows easily, and we have design documentation e.g. when to use, and how well tested things are</li>
      <li>rebuild components that rely on client side JS, to work with no JS - so they mimic production behaviour.  and we get accustomed to prototyping no JS flows then progressively enhancing</li>
      <li>create migration notes/kit - to migrate flows over from the current prototype (so we retire that).  Migrate over any current flows? like LAI and combinations?</li>
      <li>PAS notes - see if we want to do something with them</li>
      <li>Analytics experiment (Jason)</li>
      <li>Workflow - should we build that here, or just a few pages needed for AP flows?  Perhaps we could make a journey that joins 2 prototypes together</li>
    </ul>

    <h2 class="govuk-heading-l">Scope of UI re-write</h2>

    <p>Technical UI re-write, into python/Flask, from react.</p>
    <p>Limit the number of UI changes. This is about keeping as much as-is from the current UI, and the tech re-write
      brings the UI up to current HMLR code and design standards. It removes existing constraints that have limited user
      features, so new work post re-write can be done without working round the constraints.</p>
    <p>UI changes are limited to those required by: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>migrating to python/flask - some ui features may be difficult to migrate as-is from react. Where this is the
        case we'll redesign the ui feature to make it easy to implement</li>
      <li>following common HMLR code and design standards - progressive enhancement, using gov components out of the box
      </li>
      <li>fixing accessibility failures in the current UI</li>
      <li>minimising rework. Make some design changes - that are considered to be foundational - for example responsive
        page layout - to avoid complex rework once all the UI features have been migrated</li>
    </ul>

    <h2 class="govuk-heading-l">Project progress and documentation</h2>

    <p><a href="/documentation">show and tells</a></p>

    <h2 class="govuk-heading-l">Protoypes</h2>

    <p>New protoypes - from June 2023:</p>

    <ul class="govuk-list govuk-list--bullet">
    	<li>
        <a class="govuk-link" href="transfer-defer/">IC6 deferral for discharges</a>
      </li>
      <li>
        <a class="govuk-link" href="charge-defer/">Deferral for consent to restriction</a> 
      </li>
    </ul>

  </div>
</div>

{% endblock %}
