{% extends "layouts/ap-documentation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Example Charge flow</h1>

    <p class="govuk-body">This is work in progress</p>

    <p class="govuk-body"><a class="govuk-link" href="01-preliminary-page-eligibility">Charge</a></p>

    <p class="govuk-body">contains:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li> - for temporary css we need for new designs - replace when css brouhgt over form production</li>
			<li>old-ap-protoype.css - for old styles needed - replace when css brought over form production</li>
      <li></li>
    </ul>

    <p class="govuk-body">Todo:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>application documents page</li>
      <li>worklist - at the start</li>
      <li>worklist - at the end, after sent to workflow</li>
      <li><s>move all css out of the pages to a css files loaded in template</s></li>
      <li>refactor the 2 css files, new-style-wide and new-style-regular.css - so we dont have to put styling in both</li>
      <li>get HTML, css and js from prodcution - update all the pages and templates</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
</div>

{% endblock %}
