{% extends "layouts/ap-flow-wide.html" %}

{% block pageTitle %}
Charge
{% endblock %}

{% block content %}

<!-- application information  -->
{% include "./includes/application-info.html" %}
<!-- end - application information  -->



<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half register-column scroll ">
  	<div id="register-container">

    	{% include "./includes/register.html" %}

    </div>
  </div>


  <!-- Tasks section starts here -->

  <div class="govuk-grid-column-one-half column">

    <div class="casework-tasks-container">
      {{ govukBackLink({
        text: 'Back',
        href: '03-add-charge-entry'
      }) }}

    	<form action="04-discharge" method="post">

	      <h2 class="govuk-heading-m">Your tasks</h2>

	    	<!-- tasks go here  -->

        <!-- discharge evidence -->
	    	{{ govukRadios({
	        idPrefix: 'discharge-removal',
	        name: 'discharge-removal',
	        classes: 'govuk-radios--small',
	        fieldset: {
	          legend: {
	            text: 'Has evidence been lodged for the existing charge?',
	            classes: 'govuk-fieldset__legend--s'
	          }
	        },
	        items: [
	          {
	            html: 'Discharge lodged',
	            value: 'Yes',
	            checked: checked('discharge-removal','Yes')
	          },
	          {
	            html: 'Needs a discharge',
	            value: 'No discharge',
	            checked: checked('discharge-removal','No discharge')
	          },
		     {
	            html: 'Consent lodged or not required',
	            value: 'Keep',
	            checked: checked('discharge-removal','Not required')
	          },
            {
              html: 'Needs consent',
              value: 'No consent',
              checked: checked('discharge-removal','No consent')
            }
	        ]
	      }) }}

	    	<!-- end of tasks  -->


	    	<!-- Buttons and links -->
        <div class="task-lists-submit">
					<button class="govuk-button" data-module="govuk-button">
						Next
					</button>
					<a href="workflow-no-drafting" class="govuk-link reject-button">Return to workflow</a>
				</div>

			</form>



	  </div>

	</div> <!-- end Tasks column -->

</div>

{% endblock %}
