{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Application Processing Prototype Kit
{% endblock %}

{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: "Application Processing",
	  serviceUrl: "/"
	}) }}
{% endblock %}


{% if (GOVUKPrototypeKit.isDevelopment) %}
{% set footerItems = [
  {
    href: "/manage-prototype",
    text: "Manage your prototype"
  }, {
    href: "/manage-prototype/clear-data",
    text: "Clear data"
  }
] %}
{% else %}
  {% set footerItems = [
    {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    }
  ] %}
{% endif %}


{% block footer %}
	{% from "hmlr/components/footer/macro.njk" import hmlrFooter %}
	{{ hmlrFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
 }) }}

{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/font.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "includes/scripts.html" %}
{% endblock %}

